{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Dohoda o provedení práce' %}

{% block content %}

	<style>
		.hedr {
			padding: 0 15px;
		}
		h2 {
			text-align: center;
		}
		.space {
			margin-top: 50px;
			display: block;
		}
		.column {
			float: left;
			width: 50%;
			padding: 0 15px;
			text-align: justify;
		}

		.row:after {
			content: "";
			display: table;
			clear: both;
		}
		.placeholder {
			width: 50px;
			display: inline-block;
			border-bottom: 1px solid black;
		}
		p {
			display: inline;
			line-height: 20px;
		}
	</style>
	<main id="main" class="main">
		{% include '@components/box/intro.twig' with {
			props: {
				background: 'intro-bg.svg',
				title: 'DOHODA O PROVEDENÍ PRÁCE',
				title: 'УГОДА ПРО ВИКОНАННЯ РОБОТИ',
				downLink: 'content',
			}
		} %}
		<div class="row-main">
			<div id="content" class="u-pt-10 u-mb-9">
				<div class="row">
					<div class="column">
						<p>
							uzavřená dle ustanovení § 75 a násl. zákona č. 262/2006 Sb., zákoník práce, ve znění pozdějších předpisů
						</p>
					</div>
					<div class="column">
						<p>
							укладено відповідно до положень § 75 та наступних Закону № 262/2006 Зб. Кодексу законів про працю зі змінами
						</p>
					</div>
				</div>
				<div class="hedr">
					<p class="space">
						zaměstnavatel - роботодавець<br>
					</p>

					<p class="space">
						та
					</p>

					<p class="space">
						zaměstnanec - працівник<br>
					</p>

					<p class="space">
						uzavírají tuto dohodu:<br>
						уклали цей договір:<br>
					</p>
				</div>

				<h2>
					I.<br>
					Předmět dohody<br>
					Предмет договору<br>
				</h2>

				<div class="row">
					<div class="column">
						<p>
							1)	Vymezení pracovního úkolu:
							<div class="placeholder"></div>
							při dodržení maximálního rozsahu práce 300 hodin v kalendářním roce.<br>
							2)	Místo výkonu práce:
							<div class="placeholder"></div>
							<br>
							3)	Nástup k výkonu práce byl dohodnut ke dni
							<div class="placeholder"></div>
							<br>
							4)	Tato dohoda se uzavírá na období od dne podpisu do
							<div class="placeholder"></div>, nebo na období trvání práce pro kterou byla podepsána.<br>
						</p>
					</div>
					<div class="column">
						<p>
							1)	Визначення робочого завдання:
							<div class="placeholder"></div>
							з дотриманням максимального обсягу роботи 300 годин у календарному році.<br>
							2)	Місце роботи:
							<div class="placeholder"></div>
							<br>
							3)	Початок роботи погоджено
							<div class="placeholder"></div>
							<br>
							4)	Цей договір укладено на період з дати підписання до
							<div class="placeholder"></div>
							р. або на термін виконання робіт, для яких він був підписаний.<br>
						</p>
					</div>
				</div>

				<h2>
					II.<br>
					Odměna<br>
					Винагорода<br>
				</h2>

				<div class="row">
					<div class="column">

						<p>
							1)	Za provedení práce uvedené v čl. I. této smlouvy přísluší zaměstnanci odměna ve výši
							<div class="placeholder"></div>
							Kč za každou odpracovanou hodinu, před odečtením povinných srážek a odvodů dle příslušných mzdových a pracovněprávních předpisů.<br>
							2)	Odměna je splatná po potvrzení denní docházky zaměstnavatelem skrze webovou aplikaci dostupnou na www.tymbe.cz, kam se zaměstnanec před nástupem na první směnu za tímto účelem zaregistruje. Výplata odměny probíhá po přihlášení zaměstnance do webové aplikace, a to na pokyn zaměstnance stisknutím tlačítka „Vyplatit“ u příslušné směny na bankovní účet zadaný zaměstnancem do webové aplikace. Z odměny provede zaměstnavatel srážky podle příslušných právních předpisů.<br>
						</p>
					</div>
					<div class="column">

						<p>
							1)	За виконання роботи, зазначеної в статті I цього договору, працівник має право на винагороду в розмірі
							<div class="placeholder"></div>
							крон за кожну відпрацьовану годину без вирахування обов'язкових відрахувань і зборів відповідно до відповідних нормативно-правових актів про заробітну плату та трудове законодавство.<br>
							2)	Винагорода виплачується після підтвердження щоденного відвідування роботодавцем через веб-додаток на www.tymbe.cz, де працівник реєструється для цієї мети перед початком першої зміни. Виплата винагороди здійснюється після входу працівника у веб-додаток, за бажанням працівника шляхом натискання кнопки «Оплатити» за відповідну зміну на банківський рахунок, зазначений працівником у веб-додатку. Роботодавець здійснює утримання із заробітної плати відповідно до відповідних законодавчих норм<br>
						</p>
					</div>
				</div>

				<h2>
					III.<br>
					Práva a povinnosti<br>
					Права та обов'язки<br>
				</h2>

				<div class="row">
					<div class="column">
						<p>
							1)	Zaměstnanec je povinen se dostavit po dohodě se zaměstnavatelem do zaměstnání v dohodnutém termínu a čase. V případě, že tak nemůže učinit pro objektivní překážky, je povinen tuto skutečnost nejméně 24 hodin před nástupem do práce nahlásit zaměstnavateli. Není-li ani to z objektivních důvodů možné, pak neprodleně kdykoliv. Případnou zdravotní indispozici je zaměstnanec povinen doložit potvrzením od lékaře, v opačném případě se bude jednat o neomluvenou absenci zaměstnance.<br>
							2)	Práva a povinnosti smluvních stran se řídí příslušnými ustanoveními zákoníku práce s tím, že zaměstnanec se zavazuje dodržovat veškeré vnitřní pracovněprávní předpisy zaměstnavatele.<br>
							3)	Zaměstnavatel se zavazuje vytvořit zaměstnanci přiměřené pracovní podmínky zajišťující řádný a bezpečný výkon práce.<br>
							4)	Zaměstnanec před nástupem do výkonu práce musí být seznámen odpovědnou osobou zaměstnavatele s bezpečnostními předpisy a zavazuje se dodržovat pracovní postup, se kterým je na místě výkonu práce seznámen. Započetím výkonu práce se má bez dalšího za to, že byl zaměstnanec s vnitřními a bezpečnostními předpisy zaměstnavatele seznámen.<br>
							5)	Zaměstnanec je povinen konat práci osobně, na základě a v souladu s pokyny zaměstnavatele. Zaměstnanec je zejména povinen být včas připraven v místě určeném k výkonu práce k provedení pracovních úkolů, dbát na bezpečnost a zdraví své jakož i ostatních zaměstnanců zaměstnavatele a dalších třetích osob. Zaměstnanec se dále zavazuje chodit do práce včas a odpočinutý, přičemž se zavazuje dodržovat bezprostředně před a v průběhu pracovní doby zákaz požívání alkoholických nápojů. Zaměstnanec se dále zavazuje dodržovat zákaz kouření ve všech pracovištích zaměstnavatele či třetí osoby, pro níž je dle pokynu zaměstnavatele pracovní úkol konán. Zaměstnanec se dále zavazuje být při plnění pracovních úkolů ostražitý a snažit se předcházet situacím, ve kterých by byl bezprostředně ohrožen majetek zaměstnavatele či třetí strany. Zaměstnanec odpovídá zaměstnavateli za způsobenou škodu. Zaměstnanec odpovídá také za škody vzniklé nevykonáním práce.<br>
							6)	Zaměstnanec se zavazuje zachovávat mlčenlivost o všech skutečnostech, o kterých se dozvěděl v souvislosti s výkonem práce u zaměstnavatele, anebo v souvislosti s jednáním s klienty zaměstnavatele. Tuto povinnost mlčenlivosti je povinen zaměstnanec zachovávat i po skončení účinnosti této dohody.<br>
						</p>
					</div>
					<div class="column">
						<p>
							1)	Працівник зобов'язаний прийти на роботу в обумовлені строк і час за погодженням з роботодавцем. Якщо він не може це зробити через об’єктивні перешкоди, він зобов’язаний повідомити про це роботодавця не менше ніж за 24 години до початку роботи. Якщо навіть з об’єктивних причин це неможливо, то негайно коли це буде можливо в будь-який момент. Працівник зобов’язаний підтвердити медичне нездужання за підтвердженням лікаря, інакше це буде безпідставною відсутністю працівника.<br>
							2)	Права та обов'язки договірних сторін регулюються відповідними положеннями КЗпП за умови, що працівник зобов'язується виконувати всі правила внутрішнього трудового законодавства роботодавця.<br>
							3)	Роботодавець зобов’язується створити належні умови праці для працівників, які забезпечують належне та безпечне виконання роботи.<br>
							4)	Перед початком роботи працівник повинен бути ознайомлений відповідальною особою роботодавця з правилами техніки безпеки та зобов'язується дотримуватися порядку роботи, з яким він ознайомлений за місцем роботи. Приступаючи до роботи, автоматично вважається, що працівник ознайомлений з правилами внутрішнього розпорядку та техніки безпеки роботодавця.<br>
							5)	Працівник зобов'язаний виконувати роботу особисто, на підставі та відповідно до вказівок роботодавця. Зокрема, працівник зобов’язаний вчасно підготуватися у місці, відведеному для виконання роботи, до виконання трудових завдань, дбати про безпеку і здоров’я себе, а також інших працівників роботодавця та інших третіх осіб. Крім того, працівник зобов’язується вчасно виходити на роботу і після відпочинку, при цьому зобов’язується дотримуватись заборони на вживання алкогольних напоїв безпосередньо перед і в робочий час. Крім того, працівник зобов’язується дотримуватися заборони на паління на всіх робочих місцях роботодавця або третьої особи, для якої виконується трудове завдання згідно з вказівками роботодавця. Працівник також зобов’язується бути пильним при виконанні робочих завдань і намагатися не допускати ситуацій, за яких майно роботодавця або третьої особи може бути негайно піддано небезпеці. За заподіяну шкоду працівник відповідає перед роботодавцем. Також працівник несе відповідальність за збитки, заподіяні невиконанням роботи.<br>
							6)	Працівник зобов'язується зберігати конфіденційність про всі факти, про які йому стало відомо у зв'язку з виконанням роботи у роботодавця або у зв'язку з відносинами з клієнтами роботодавця. Працівник зобов'язаний зберігати цей обов'язок конфіденційності навіть після закінчення терміну дії цього договору.<br>
						</p>
					</div>
				</div>

				<h2>
					IV.<br>
					Závěrečná ustanovení<br>
					Прикінцеві положення<br>
				</h2>

				<div class="row">
					<div class="column">
						<p>
							1)	Zaměstnanec podpisem této dohody prohlašuje, že si není vědom žádné zdravotní překážky, která by mu znemožnila výkon práce pro zaměstnavatele blíže specifikovaný v čl. I. této dohody.<br>
							2)	Dohoda je vyhotovena ve dvou stejnopisech s tím, že účinnost nabývá dnem jejího podpisu. Smluvní strany prohlašují, že dohodu uzavřely dle své svobodné a vážné vůle, na důkaz čehož připojují své podpisy.<br>
						</p>
					</div>
					<div class="column">
						<p>
							1)	Підписуючи цей договір, працівник заявляє, що йому не відомі будь-які перешкоди для здоров’я, які б перешкоджали йому виконувати роботу у роботодавця, більш детально зазначену в статті I цього договору.<br>
							2)	Договір складено у двох примірниках, які набирають чинності з дня його підписання. Договірні Сторони заявляють, що вони уклали Угоду відповідно до своєї вільної та серйозної волі, на підтвердження чого вони підпишуть свої угоди.<br>
						</p>
					</div>
				</div>

				<div class="row space">
					<div class="column">
						<p>
							V
							<div class="placeholder"></div>
							<br>
							B
							<div class="placeholder"></div>
							<br>
						</p>

						<p class="space">
							Zaměstnavatel<br>
							(razítko a podpis)<br>
							Роботодавець<br>
							(штамп та підпис)<br>
						</p>
					</div>
					<div class="column">
						<p>
							V
							<div class="placeholder"></div>
							<br>
							B
							<div class="placeholder"></div>
							<br>
						</p>

						<p class="space">
							Zaměstnanec<br>
							(podpis)<br>
							Працівник<br>
							(підпис)<br>
						</p>
					</div>
				</div>


			</div>
		</div>
	</main>

{% endblock %}
