{% extends '@layout/layout.twig' %}
{% set pageTitle = 'FAQ - jak to celé funguje' %}
{% set isFAQ = true %}
{% set metaDescriptionContent = 'Zajímá tě, jak celý systém Tymbe funguje? Přečti si nejčastější otázky a odpovědi k webové aplikaci pro získání brigády anebo spolehlivých brigádníků.' %}
{% block content %}

	<main id="main" class="main">
		{% include '@components/box/intro.twig' with {
			props: {
				classes: ['b-intro--cut'],
				background: 'intro-bg.jpg',
				title: 'FAQ',
				text: 'Máš otázky? Máme odpovědi! Ozvi se a doplníme všechno, co tě zajímá.',
			}
		} %}
		<div class="row-main">
			<div class="u-mt--11 u-mb-9">
				<div class="b-white b-tabs" data-controller="Tabs">
					<ul class="b-tabs__list">
						<li class="b-tabs__item">
							<a href="#first" class="b-tabs__link is-selected" data-key="first" data-Tabs-target="link" data-action="Tabs#changeTab">
								<span class="item-icon">
									{% include '@components/core/icon-svg/icon-svg.twig' with {
										props: {
											classes: ['item-icon__icon'],
											name: 'work'
										}
									} %}
									Pro brigádníky
								</span>
							</a>
						</li>
						<li class="b-tabs__item">
							<a href="#second" class="b-tabs__link" data-key="second" data-Tabs-target="link" data-action="Tabs#changeTab">
								<span class="item-icon">
									{% include '@components/core/icon-svg/icon-svg.twig' with {
										props: {
											classes: ['item-icon__icon'],
											name: 'building'
										}
									} %}
									Pro firmy
								</span>
							</a>
						</li>
					</ul>
					<div id="first" class="b-tabs__fragment is-active" data-Tabs-target="content">
						<h2 class="u-js-hide">
							Pro brigádníky
						</h2>
						{% include '@components/core/objects/accordion.twig' with {
							props: {
								classes: ['u-mb-20 u-mb-30@md'],
								items: [
									{
										title: 'Co je Tymbe?',
										content: 'Tymbe je webová aplikace, která ti kdekoli v Česku otevírá cestu k dobře placené brigádě. Na Tymbe najdeš nabídky brigád přímo od vybraných zaměstnavatelů, sám si řekneš, za kolik jsi ochotný pracovat a jak často chceš vyplácet odměnu. A co je nejvíc, Tymbe je pro tebe úplně zdarma.'
									},
									{
										title: 'Potřebuji kromě občanského průkazu ještě nějaké další doklady?',
										content: 'K samotné registraci potřebuješ jenom občanku. Jiné je to u konkrétní brigády. Je možné, že po tobě bude chtít zaměstnavatel například Zdravotní (potravinářský) průkaz nebo výpis z rejstříku trestů. Jak tyto doklady získáš a co pak s nimi uděláš? To se dozvíš přímo ve své aplikaci, popřípadě se zeptej trenéra, který je k dispozici na webu nebo na Facebooku.'
									},
									{
										title: 'Kdo je Tymber?',
										content: 'Tak říkáme v Tymbe brigádníkovi. Za odpracovanou brigádu od nás dostane nejen férovou výplatu, ale i kredity, které mu dávají při boji o brigádu jistá privilegia.'
									},
									{
										title: 'Jak probíhá registrace?',
										content: 'Tymbe razí absolutní jednoduchost. Ze všeho nejdřív si u nás vyplníš registraci. Potom ověříme tvé osobní údaje, to abychom věděli, že jsi opravdu ten, za koho se vydáváš. Na Tymbe je totiž všechno online, i podpis Dohody o provedení práce. Jakmile máš profil hotový a údaje ověřené, můžeš se přihlásit na první brigádu.'
									},
									{
										title: 'Na jakou smlouvu nebo dohodu u Tymbe pracuji?',
										content: 'Většinou podepisuješ Dohodu o provedení práce, občas můžeš narazit na Dohodu o pracovní činnosti. V obou případech vše podepisuješ online přímo u přihlášení na brigádu, protože žádné zbytečné cestování kvůli papírům u nás nevedeme.'
									},
									{
										title: 'Som zo Slovenska a nemám trvalý pobyt v Česku, čo mám vyplniť do kontaktnej adresy?',
										content: 'Vyplnit můžeš jakoukoliv adresu, na které by se k tobě dostala pošta, kdybychom ti ji tam poslali, nebo kde se většinově zdržuješ, klidně i adresa kolejí nebo spolu bydlení, kde ani nejsi uveden ve smlouvě.'
									},
									{
										title: 'Jak probíhá vyplácení odměny?',
										content: 'Jakmile zaměstnavatel potvrdí tvou účast na směně, můžeš si ji ihned nechat proplatit. Nebo můžeš počkat a nastřádat si větší sumu, záleží na tobě. Výplaty každopádně posíláme několikrát denně, takže peníze od náš dostaneš cobydup.'
									},
									{
										title: 'Dostanu za každou brigádu stejný počet kreditů?',
										content: 'Nene. Funguje to jako aukce, čím větší je o brigádu zájem, tím dřív kredity z nabídky mizí. A taky naopak: čím je jasnější, že na danou brigádu nikdo nemůže jít, nebo že o ni není zájem, tím víc kreditů za ni nabídneme. Jako zachránce musíš být přece patřičně odměněn, ne?'
									},
									{
										title: 'Co když nechci bojovat v ringu a hledám spíš stálou brigádu?',
										content: 'Pokud s tebou bude zaměstnavatel spokojený, může tě oslovit přes aplikaci Tymbe napřímo. V takovém případě máš přednostní nabídku za konkrétní odměnu a je jenom na tobě, jestli hozenou rukavici přijmeš, nebo nikoliv.'
									},
									{
										title: 'Pomóc! Něco mi nefunguje, co mám dělat?',
										content: 'Od toho tu jsme. Poradíme, vyřešíme. Piš na e-mail trener@tymbe.cz nebo na FB Messenger @tymbecz. Jsme tu pro tebe od pondělí do neděle a od 8.00 do 18.00, takže vlastně furt ;)'
									}
								]
							}
						} %}
					</div>
					<div id="second" class="b-tabs__fragment" data-Tabs-target="content">
						<h2 class="u-js-hide">
							Pro firmy
						</h2>
						{% include '@components/core/objects/accordion.twig' with {
							props: {
								classes: ['u-mb-20 u-mb-30@md'],
								items: [
									{
										title: 'Co je Tymbe?',
										content: 'Tymbe a.s. je rychle rostoucí tým nadšených Evropanů s chutí měnit zarezlé procesy v oblasti, které se ošklivě říká „lidské zdroje“, a přitom jde o většinu života většiny nás. Tymbe je tu od toho, aby se všechno kolem práce zjednodušilo, zrychlilo a zlevnilo na úrovni firem i jednotlivců.'
									},
									{
										title: 'Jaké výhody má Tymbe pro firmy?',
										content: 'Všechno, co Tymbe dělá, je postavené pro online management. Nechceme ti práci přidělávat, ale ušetřit. Naše služby fungují po celém Česku i v zahraničí a chytré nástroje Tymbe vyřeší spoustu otravné administrativy místo tebe. A co ti šetří čas, to ti šetří i peníze.'
									},
									{
										title: 'Proč najímat lidi přes Ty–brigády?',
										content: 'Ty–brigády jsou jediná online platforma na trhu, která tě zbaví starostí a doručí ti kvalitní brigádníky třeba už zítra. Je to chytrá služba, která znamená definitivní konec papírování, šetří častvých lidí, nasbírá ti hromadu užitečných dat a brigádníkům vyplácí hodinovku, která je pro tebe vždy výhodná.Ty–brigády navíc jedou 24 hodin denně, 7 dní v týdnu a po celé ČR.'
									},
									{
										title: 'Umí Tymbe postavit službu na míru?',
										content: 'Na to se u nás specializujeme. Tvoje lidi dokážeme online proškolit, v čem si vzpomeneš, a zařídíme pro ně i pracovní pomůcky, když na to přijde. Pojď to s námi probrat a určitě to vymyslíme. Volej +420 602 200 114 nebo piš na firma@tymbe.com a my se do 24 hodin ozveme.'
									},
									{
										title: 'Všechno online je super, ale co když chci jednat s lidmi?',
										content: 'Nejsme žádní IT roboti. I my se rádi potkáváme a řešíme zakázky a kontrakty osobně. Máme tým zkušené zákaznické podpory, který s tebou nastaví všechno přesně podle potřeb vaší firmy. Tymbe je tu pro lidi, ne pro automaty :)'
									}
								]
							}
						} %}
					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock %}
