{% extends '@layout/layout.twig' %}
{% set pageTitle = 'FAQ - як це все працює' %}
{% set isFAQ = true %}
{% set metaDescriptionContent = 'Цікаво, як працює вся система Tymbe? Прочитай найпоширеніші запитання та відповіді про веб-додаток для отримання підробітку або надійних тимчасових працівників.' %}

{% block content %}

	<main id="main" class="main">
		{% include '@components/box/intro.twig' with {
			props: {
				classes: ['b-intro--cut'],
				background: 'intro-bg.jpg',
				title: 'FAQ',
				text: 'У тебе є питання?У нас є відповіді! Звяжись з нами, і ми додамо все, що тебе цікавить.',
			}
		} %}
		<div class="row-main">
			<div class="u-mt--11 u-mb-9">
				<div class="b-white b-tabs" data-controller="Tabs">
					<ul class="b-tabs__list">
						<li class="b-tabs__item">
							<a href="#first" class="b-tabs__link is-selected" data-key="first" data-Tabs-target="link" data-action="Tabs#changeTab">
								<span class="item-icon">
									{% include '@components/core/icon-svg/icon-svg.twig' with {
										props: {
											classes: ['item-icon__icon'],
											name: 'work'
										}
									} %}
									Про тимчасових працівників
								</span>
							</a>
						</li>
						<li class="b-tabs__item">
							<a href="#second" class="b-tabs__link" data-key="second" data-Tabs-target="link" data-action="Tabs#changeTab">
								<span class="item-icon">
									{% include '@components/core/icon-svg/icon-svg.twig' with {
										props: {
											classes: ['item-icon__icon'],
											name: 'building'
										}
									} %}
									Для компаній
								</span>
							</a>
						</li>
					</ul>
					<div id="first" class="b-tabs__fragment is-active" data-Tabs-target="content">
						<h2 class="u-js-hide">
							Про тимчасових працівників
						</h2>
						{% include '@components/core/objects/accordion.twig' with {
							props: {
								classes: ['u-mb-20 u-mb-30@md'],
								items: [
									{
										title: 'Що таке Tymbe?',
										content: 'Tymbe це веб-додаток, який тобі відкриває шлях до добре оплачуваного підробітку в будь-якій точці Чеської Республіки. На Tymbe знайдеш пропозиції підробітку безпосередньо від вибраних роботодавців, ти сам скажеш собі, за скільки ти готовий працювати і як часто хочеш виплачувати винагороду. І найголовніше, для тебе Tymbe абсолютно безкоштовний.'
									},
									{
										title: 'Чи потрібні мені інші документи, крім посвідчення особи?',
										content: 'Для реєстрації тобі потрібно лише посвідчення особи. Все інше стосується конкретного підробітку. Не виключено, що твій роботодавець попросить у тебе, наприклад, страхову (харчову) картку або довідку про несудимість.  Як отримати ці документи і що потім з ними робити? Можеш дізнатися безпосередньо у своєму додатку або запитати тренера, який доступний на веб-сайті або на Facebook.'
									},
									{
										title: 'Хто такий Tymber?',
										content: 'Так ми називаємо в Tymbe тимчасового працівника. За відпрацьований підробіток від нас отримає не лише чесну заробітну плату, а також бонуси, які дають йому певні привілеї при боротьбі за підробіток.'
									},
									{
										title: 'Як проходить реєстрація?',
										content: 'Tymbe це абсолютна простота. Перш за все, заповнюєш реєстраційний формуляр. Потім проходить ідентифікація особистості, для того щоб ми знали, що ти дійсно той, за кого себе видаєш. На Tymbe все онлайн, навіть підписання Угоди про виконання роботи. Після того, як профіль готовий і дані перевірені, можеш увійти та обрати свій перший підробіток. '
									},
									{
										title: 'За яким контрактом чи угодою я працюю в Tymbe?',
										content: 'Зазвичай ви підписуєте Угоду про виконання роботи (Dohodu o provedení práce) , іноді ви можете натрапити i на Угоду  про трудову діялність (Dohodu o pracovní činnosti). В обох випадках ви підписуєте все онлайн безпосередньо при реєстрації на підробіток, тому що ми не здійснюємо жодних зайвих поїздок та зустрічей через документацію.'
									},
									{
										title: 'Я зі Словаччини і не маю постійного місця проживання в Чехії, яку контактну адресу мені заповнити?',
										content: 'Ви можете заповнити будь-яку адресу, за якою до вас буде надходити пошта, якби ми її вам надсилали, або вкажіть адресу де ви перебуваєте здебільшого, також можете ввести адресу гуртожитків чи іншого житла, навіть якщо вас немає в списку в договорі.'
									},
									{
										title: 'Як виплачується винагорода?',
										content: 'Як тільки роботодавець підтвердить вашу участь у зміні, ви можете негайно взяти свою винагороду. Або ви можете почекати і накопичити більшу суму, залежить від вас. У будь-якому випадку, ми відправляємо виплати кілька разів на день, отже гроші отримаєш в будь-якому разі.'
									},
									{
										title: 'За кожен підробіток я отримаю однакову кількість бонусів?',
										content: 'Ні. Це працює як аукціон, чим більше в працівників інтересу до підробітку, тим швидше бонуси зникнуть з пропозиції. І навпаки: чим зрозуміліше, що ніхто не може піти на підробіток або до нього немає інтересу, тим більше бонусів ми запропонуємо за це. Як рятівник, ви повинні бути належним чином винагороджені, чи не так?'
									},
									{
										title: 'Що робити, якщо я не хочу битися на рингу і шукаю постійний підробіток?',
										content: 'Якщо ваш роботодавець задоволений вами, вони можуть зв язатися з вами безпосередньо через додаток Tymbe. У цьому випадку у вас є преференційна пропозиція за конкретну винагороду, і тільки від вас залежить, приймаєте ви її чи ні.'
									},
									{
										title: 'Допоможіть! У мене щось не працює, що мені робити?',
										content: 'Для цього є ми. Ми порадимо, вирішимо. Пишіть на електронну адресу  tybrigady@tymbe.cz або FB Messenger @tymbecz. Ми тут для вас з понеділка по неділю  з 8.00 до 18.00, отже, власне завжди. ;)'
									}
								]
							}
						} %}
					</div>
					<div id="second" class="b-tabs__fragment" data-Tabs-target="content">
						<h2 class="u-js-hide">
							Для компаній
						</h2>
						{% include '@components/core/objects/accordion.twig' with {
							props: {
								classes: ['u-mb-20 u-mb-30@md'],
								items: [
									{
										title: 'Що таке Tymbe?',
										content: 'Tymbe a.s. це швидкозростаюча команда захоплених європейців з бажанням змінити застарілі процеси в області, яку некрасиво називають "людськими ресурсами", і все ж це більша частина життя більшості з нас. Tymbe тут  для того, щоб все навколо роботи зробити  простіше, швидше і дешевше та на рівні компаній і приватних осіб. '
									},
									{
										title: 'Які переваги має Tymbe для компаній?',
										content: 'Все, що робить Tymbe , створено для онлайн-менеджменту. Ми не хочемо придати вам роботу, а навпаки заощадити. Наші послуги працюють по всій Чехії та по всій Європі, а розумні функції Tymbe вирішать багато дратівливої адміністрації замість вас. А те, що економить ваш час -  економить ваші гроші.'
									},
									{
										title: 'Чому наймати працівників саме через Ty-brigády?',
										content: 'Ty-brigády є єдиною онлайн-платформою на ринку, яка позбавить вас від турбот і доставить якісних тимчасових працівників хоч і завтра. Це розумний сервіс, який означає остаточний кінець адміністративної роботи, економить ваш час, збирає багато корисних даних і оплачує працівникам їх відпрацьовані години, що однозначно зручно для вас. Крім того, Ty-brigády працюють 24 години на добу, 7 днів на тиждень і по всій Чехії.'
									},
									{
										title: 'Чи вміє Tymbe створити індивідуальний сервіс?',
										content: 'Ми спеціалізуємося на цьому. Ми можемо навчати ваших людей онлайн усьому, що ви потребуєте, а також можемо організувати робочі посібники для них, якщо це буде потрібно. Приходьте і обговоріть це з нами, і ми обов язково щось вигадаємо . Телефонуйте за номером +420 602 200 114 або пишіть нам на адресу firma@tymbe.com і ми зв яжемося з вами протягом 24 годин.'
									},
									{
										title: 'Все онлайн це звичайно добре, але що якщо я хочу спілкуватися з людьми віч-на-віч?',
										content: 'Ми не ІТ роботи. Ми також із задоволенням зустрічаємося і займаємося замовленнями і договорами особисто. У нас є досвідчена команда підтримки клієнтів, яка налаштує все з вами відповідно до потреб Вашого бізнесу. Tymbe є для людей, а не для ігрових автоматів :)'
									}
								]
							}
						} %}
					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock %}
