{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Разовий та довгостроковий пiдробiток' %}
{% set isHomepage = true %}
{% set isB2C = true %}
{% set metaDescriptionContent = 'Зареєструйся на веб-сайті, вибери саме той підробіток який тобі подобається, відпрацюй зміну та надійшли собі заробітну плату, коли тобі буде зручно. Можливо, навіть відразу після підтвердження присутності на зміні від роботодавця. Все всього за декілька кліків.' %}
{% block content %}

	<main id="main" class="main">
		{# properties for app buttons for '@components/box/intro-hp.twig'
			downloads: [
				{
					img: 'store-button-icons/app-store.svg',
					name: 'App Store',
					width: '137',
				},
				{
					img: 'store-button-icons/google-play.svg',
					name: 'Google Play',
					width: '137',
				},
			],
		#}
		{% include '@components/box/intro-hp.twig' with {
			props: {
				background: 'b2c-intro-bg.jpg',
				contentSizes: ['size--6-12@md'],
				imgSizes: ['size--6-12@md'],
				title: 'Стань Tymberem і заробляй більше!',
				text: 'У додатку Ty-brigády від Tymbe тільки Ти скажеш, де і за скільки хочеш працювати і коли хочеш отримати винагороду. Все онлайн, всього за декілька кліків.',
				buttons: [
					{
						name: 'Хочу підробіток ',
						link: './registrace.html'
					}
				],
				downLink: 'content',
				img: 'hand.png',
				imgWidth: '470',
				imgHeight: '588',
			}
		} %}
		<div id="content" class="u-pt-9">
			<div class="row-main">
				{% include '@components/crossroad/products.twig' with {
					props: {
						classes: ['u-mb-7'],
						title: 'Сьогоднішні ТОП підробітки',
						btn: 'Стань Tymberem',
						btnLink: './registrace.html',
						items: [
							{
								openingHours: '00:00',
								title: 'Dnešní TOP brigády',
								location: 'Praha',
								fullPayment: '000,00',
								fullCredits: '00,00',
								btnText: 'Хочу підробіток ',
								btnLink: './registrace.html'
							},
							{
								openingHours: '00:00',
								title: 'Dnešní TOP brigády',
								location: 'Praha',
								fullPayment: '000,00',
								fullCredits: '00,00',
								btnText: 'Хочу підробіток ',
								btnLink: './registrace.html'
							},
							{
								openingHours: '00:00',
								title: 'Dnešní TOP brigády',
								location: 'Praha',
								fullPayment: '000,00',
								fullCredits: '00,00',
								btnText: 'Хочу підробіток ',
								btnLink: './registrace.html'
							},
							{
								openingHours: '00:00',
								title: 'Dnešní TOP brigády',
								location: 'Praha',
								fullPayment: '000,00',
								fullCredits: '00,00',
								btnText: 'Хочу підробіток',
								btnLink: './registrace.html'
							}
						]
					}
				}%}
			</div>

			{% include '@components/crossroad/reviews.twig' with {
				props: {
					title: 'Як то бачать Tymbeři',
					items: [
						{
							quotation: 'Цей сайт мені порекомендувала подруга і хоча спочатку я хвилювалась про те, як це буде, зараз я йду на тимчасовий підробіток тільки через Tymbe. Супер підхід компанії і досить хороший вибір підробіток, сподіваюсь, варіантів буде ще більше».',
							name: 'Lucie',
							from: 'Google',
							date: 'лютий 2021',
						},
						{
							quotation: '«Спочатку я злякалась, бо більшість агентств жахливі, але тепер уже 2 роки регулярно ходжу на підробіток через Tymbe і не можу скаржитись. Однозначно рекомендую всім.',
							name: 'Nikola',
							from: 'Facebook',
							date: 'грудень 2020',
						},
						{
							quotation: 'Хороший досвід, я вибераю підробіток навіть за день до виходу і гроші на рахунку після відпрацьованих годин протягом декількох днів',
							name: 'Martin',
							from: 'Google',
							date: 'січень 2021',
						},
						{
							quotation: 'Великий вибір підробітку, який постійно зростає. Мені дуже подобається ідея бонусів, які збільшують погодинну ставку. У зв язку з цим, можна отримати до 200 Kč/h. Гроші завжди вчасно на рахунку. Обов язково рекомендую',
							name: 'Míša',
							from: 'Facebook',
							date: 'квітень 2020',
						},
						{
							quotation: 'Одне задоволення, на початок вам додадуть бонуси, і ви зможете надіслати гроші на свій рахунок одразу після зміни.',
							name: 'Tomáš',
							from: 'Facebook',
							date: 'грудень 2018',
						},
						{
							quotation: 'Все відмінно, нема на що скаржитись, можу залишити лише позитивні відгуки. Я дуже задоволений що спробував, не жалію, тільки рекомендую, і обов’язково буду надалі користуватись їхніми послугами.',
							name: 'Karlos',
							from: 'Facebook',
							date: 'грудень 2018',
						},
					]
				}
			}%}

			<div class="row-main">
				{% include '@components/crossroad/steps.twig' with {
					props: {
						classes: ['c-steps--img u-mb-7'],
						gridSize: 'size--6-12@sm size--3-12@lg',
						isCarousel: true,
						heading: {
							classes: ['u-mb-6'],
							title: 'Як це працює?',
							annot: 'Зареєструйся на веб-сайті, вибери саме той підробіток який тобі подобається, відпрацюй зміну та надійшли собі заробітну плату, коли тобі буде зручно. Можливо, навіть відразу після підтвердження присутності на зміні від роботодавця. Все всього за декілька кліків.',
						},
						btn: 'Хочу підробіток',
						btnLink: './registrace.html',
						items: [
							{
								img: 'step1.png',
								title: '1. Зареєструйся на сайті.',
								desc: 'Кожен день будеш отримувати нову пропозицію щодо підробітку, включаючи необхідне навчання для цього, тому завжди будеш заздалегідь знати, що і як робити.',
							},
							{
								img: 'step2.png',
								title: '2. Вибери саму той підробіток, який тобі підходить. ',
								desc: 'Скажи собі, яка ціна для Тебе вигідна. А ми в свою чергу підготуємо для тебе усі необхідні документи, які ти зможеш підписати онлайн.',
							},
							{
								img: 'step3.png',
								title: '3. Відпрацюй зміну.',
								desc: 'Детальну інформацію про свій підробіток можеш знайти на мобільному телефоні. При необхідності  зможеш скасувати бронювання підробітку за 24 години до прибуття.',
							},
							{
								img: 'step4.png',
								title: '4. Виплати собі винагороду коли тобі до вподоби.',
								desc: 'Зачекай, поки керівник підтвердить твою присутність, оціни підробіток за додаткові бонуси в додатку, а потім вирішувати лише тобі, чи хочеш виплату якомога швидше після зміни або, можливо, раз на місяць.',
							},
						]
					}
				}%}
			</div>
			<div class="u-bg-gradient">
				<div class="row-main">
					{% include '@components/box/people.twig' with {
						props: {
							classes: ['u-mb-7'],
							title: 'Приєднуйся до найкращих команд',
							annot: 'З першою зміною впораємось разом Ще сьогодні',
							btn: 'Tymbe для компаній',
							btnLink: './registrace-b2b.html',
							items: [
								{
									img: 'tomas.png',
									tag: {
										logo: 'zasilkovna.svg',
										logoName: 'Zásilkovna ve společnosti Packeta Group',
										name: 'Tomáš Křesťan',
										job: 'Chief Human Resources Officer '
									},
								},
								{
									isBiggest: true,
									img: 'denisa.png',
									tag: {
										logo: 'pilulka.svg',
										logoName: 'Pilulka',
										name: 'Denisa Čechová',
										job: 'HR Business Partner'
									},
								},
								{
									img: 'ctibor.png',
									tag: {
										logo: 'logo-dek.jpg',
										logoName: 'DEK STAVEBNINY',
										name: 'Ctibor Hurda',
										job: 'Manažer prodejny '
									},
								},
							]
						}
					}%}
				</div>
			</div>
		</div>
	</main>

{% endblock %}
