{% extends '@layout/layout.twig' %}
{% set pageTitle = 'O nás' %}
{% set isAbout = true %}

{% block content %}

	<main id="main" class="main">
		{% include '@components/box/intro.twig' with {
			props: {
				background: 'intro-bg.jpg',
				title: 'In play is flow',
				text: 'Tymbe тут для того, щоб все навколо роботи зробити простіше, швидше і дешевше та на рівні компаній і приватних осіб. ',
				downLink: 'content',
			}
		} %}
		<div class="row-main">
			<div id="content" class="u-pt-10">
				{% include '@components/box/info-list.twig' with {
					props: {
						classes: ['u-mb-8'],
						items: [
							{
								title: 'Про Tymbe',
								text: '<p>З першого моменту ми із задоволенням проходили через різні компанії з абсолютно різних сегментів ринку і знайомилися з ними. Так одного дня ми відсортували пакунки, щоб ознайомитися з роботою та завданнями, необхідними для початку роботи , на наступний день ми познайомилися з системою касових апаратів, щоб через кілька днів пройти виробничим цехом. І кожен такий візит, кожне знайомство з новою операцією завжди означали для нас нову ревізію власного продукту.</p>',
								flag: 'icon2.svg',
								flagName: 'Certifikát 2',
								img: 'phone.png',
								width: '317',
								height: '380'
							},
							{
								text: '<p>Бачення було простим - дозволити користувачеві досягти своєї мети (наприклад, отримати працівника) буквально в кілька кліків, без необхідності будь-яких глибоких знань про систему. Ми виходили з того, що користувач насправді не хоче використовувати інший додаток для наступних дій, тому нашою метою було досягти мінімалістичного досвіду користувача. Ми сподіваємось, що цей перший крок вже позаду, і наші додатки опинилися дійсно простими, а основні завдання насправді виходять лише в декілька кліків.</p>
								<p>Однак, оскільки ми не хотіли зупинятися на досягнутому, на думку прийшла нова ідея, з якої ми виходемо і зараз. Ми хотіли, аби користувачі з нетерпінням чекали щоб увійти в додаток, та поспілкуватися з ним так, аби в них не вийшло запізнитися на роботу , а головне щоб з нетерпінням чекали  на те, аби побачити, що відбулося нового, поки вони були відсутні. Тому ми із задоволенням хотіли б, запропонувати таке середовище, яке надасть користувачеві новий погляд на свою діяльність, та аби він зміг  бачити аналітику свого робочого місця, карту даних своїх співробітників, але при цьому аби його основні завдання залишалися в додатку та були доступні за допомогою декількох кліків. Коротше кажучи - сексуальне персональне програмне забезпечення (так, ми також хочемо, щоб це не звучало для нас як оксиморон).</p>',
								flag: 'icon1.svg',
								flagName: 'Certifikát 1',
								img: 'phone.png',
								width: '317',
								height: '380'
							},
						]
					}
				}%}
			</div>
		</div>
	</main>

{% endblock %}
