{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Brigádníci bez papírování snadno a online' %}
{% set isHomepage = true %}
{% set isB2B = true %}
{% set metaDescriptionContent = 'Získejte kvalitní brigádníky již zaučené na pozici, kam mají nastoupit. Každá brigáda má u nás svůj onboardingový online kurz pro hladký a pohodový nástup.' %}
{% block content %}

	<main id="main" class="main">
		{% include '@components/box/intro-hp.twig' with {
			props: {
				classes: ['b-intro-hp--b2b', 'b-intro-hp--carousel'],
				background: 'b2b-intro-bg.jpg',
				contentSizes: ['size--7-12@md'],
				imgSizes: ['size--5-12@md'],
				hasCarousel: true,
				items: [
					{
						title: '“Tymbe mi zajistí brigádníky bez papírování”',
						text: 'Když jsme před 3 lety nabrali první brigádníky přes Tymbe, úplně mě šokovala ta jednoduchost. Díky jejich unikátní HR platformě jsme brigádnickou agendu řešili kompletně online - od oslovení brigádníků až po potvrzení jejich docházky. Na jedno kliknutí jsem měla aktuální přehled o tom, co se děje.',
						buttons: [
							{
								name: 'Chci brigádníky',
								link: './registrace-b2b.html'
							},
							{
								type: 'secondary',
								name: 'Jsem brigádník',
								link: './registrace.html'
							},
						],
						img: 'people/denisa.png',
						imgWidth: '370',
						imgHeight: '370',
						tag: {
							logo: 'pilulka.svg',
							logoName: 'Pilulka',
							name: 'Denisa Čechová',
							job: 'HR Business Partner'
						},
					},
					{
						title: '“Tymbe mi proškolí své brigádníky předtím než dorazí”',
						text: 'Tymbe mi šetří čas a peníze tím, že mi zajistí sklad brigádníky, kteří už předtím projdou e-learningový školením na BOZP. Právě tyhle doplňkové služby dělají z Tymbe službu pro 21. století.',
						buttons: [
							{
								name: 'Chci brigádníky',
								link: './registrace-b2b.html'
							},
							{
								type: 'secondary',
								name: 'Jsem brigádník',
								link: './registrace.html'
							},
						],
						img: 'people/tomas.png',
						imgWidth: '370',
						imgHeight: '370',
						tag: {
							logo: 'zasilkovna.svg',
							logoName: 'Zásilkovna ve společnosti Packeta Group',
							name: 'Tomáš Křesťan',
							job: 'Chief Human Resources Officer'
						},
					},
					{
						title: '“Tymbe nám zajistí brigádníky do druhého dne.”',
						text: 'Líbí se mi flexibilita, kterou nám spolupráce s Tymbe nabízí. Když potřebujeme jednorázovou výpomoc, tak máme brigádníka do druhého dne. Jsou schopni nám zajistit brigádníky i na dlouhodobou práci. Mají dostatek kvalitních studentů, kteří mají potenciál být našimi budoucími zaměstnanci.',
						buttons: [
							{
								name: 'Chci brigádníky',
								link: './registrace-b2b.html'
							},
							{
								type: 'secondary',
								name: 'Jsem brigádník',
								link: './registrace.html'
							},
						],
						img: 'people/ctibor.png',
						imgWidth: '370',
						imgHeight: '370',
						tag: {
							logo: 'logo-dek.jpg',
							logoName: 'DEK STAVEBNINY',
							name: 'Ctibor Hurda',
							job: 'Manažer prodejny'
						},
					},
				],
				statistics: {
					items: [
						{
							iconName: 'person',
							number: '12 920',
							value: 'firma_1',
							text: 'Brigádníků online'
						},
						{
							iconName: 'places',
							number: '68',
							value: 'firma_2',
							text: 'Míst, kde to šlape'
						},
						{
							iconName: 'chart',
							number: '95',
							value: 'firma_3',
							suffix: '%',
							text: 'Brigád obsazeno'
						},
						{
							iconName: 'happy',
							number: '98',
							value: 'firma_4',
							suffix: '%',
							text: 'Vedoucích spokojeno'
						},
					]
				}
			}
		} %}
		<div class="row-main">
			<div id="content" class="u-pt-7">
				{% include '@components/crossroad/benefits.twig' with {
					props: {
						classes: ['c-benefits--cards u-mb-7'],
						heading: {
							classes: ['u-mb-5'],
							title: 'Zaškolení brigádníci přijdou přes Ty&#8209;brigády',
							annot: 'Je skvělé získat kvalitní pracovníky, ale ještě lepší je získat kvalitní pracovníky již zaučené na pozici, kam mají nastoupit. Každá brigáda u nás má svůj onboardingový online kurz, který umožní hladký a pohodový nástup nováčka a jeho zapojení do pracovního procesu.',
						},
						gridSize: 'size--4-12@md',
						items: [
							{
								img: 'fists.svg',
								title: 'Tisíce prověřených brigádníků',
								desc: 'Online ověření identity a zasmluvnění brigádníků v souladu s evropskými pravidly eIDAS přesně tak, jak vyžaduje Zákoník práce.',
							},
							{
								img: 'fist-hat.svg',
								title: 'Onboardingové online kurzy',
								desc: 'Vše, co lze ukázat dopředu, umíme brigádníkovi předat dříve, než dorazí na první směnu. Nezatěžujeme pracoviště školením nováčků.',
							},
							{
								img: 'click.svg',
								title: 'Jednoduché a intuitivní rozhraní',
								desc: 'Vytvořit požadavek na brigádníka a potvrdit docházku lze vždy na pár kliknutí, bez nutnosti dopředu zaškolovat vedoucí pracovníky.',
							},
						]
					}
				}%}
			</div>
		</div>
		<div class="u-bg-secondary u-pt-7">
			<div class="row-main">
				{% include '@components/crossroad/steps.twig' with {
					props: {
						classes: ['c-steps--numbers u-mb-7'],
						heading: {
							classes: ['u-mb-6'],
							title: 'Jak začít?',
							annot: 'Nejlepší je vyzkoušet si Ty-brigády naostro. Registrace je zdarma a cena je stanovena vždy až za brigádníkem odpracované hodiny. Žádné riziko!',
						},
						btn: 'Jdu do toho',
						btnLink: './registrace-b2b.html',
						items: [
							{
								title: 'Vyplnění kontaktního formuláře',
								desc: 'Obratem se s Vámi spojíme. Nebo nám napište na email <a href="mailto:tybrigady@tymbe.cz">tybrigady@tymbe.cz</a>.',
							},
							{
								title: 'Založíme profil Vaší společnosti ',
								desc: 'Vše Vám nastavíme tak, abyste po prvním spuštění mohli rovnou jen naklikat kdy a kam mají brigádníci dorazit.',
							},
							{
								title: 'Vše je připraveno',
								desc: 'Používání systému je maximálně jednoduché, na pár kliknutí objednáte pracovníka, na pár kliknutí potvrdíte docházku.',
							},
						]
					}
				}%}
			</div>
		</div>
		<div class="u-pt-7">
			<div class="row-main">
				{% include '@components/crossroad/customers.twig' with {
					props: {
						classes: ['u-mb-0'],
						heading: {
							classes: ['u-mb-5'],
							title: 'Firmy, které nám důvěřují',
							annot: 'Tady už Ty&#8209;brigády pomáhají zvládat náročné každodenní úkoly i nárazové sezónní výkyvy.',
						},
						btn: 'Zjistit více',
						items: [
							{
								img: 'zasilkovna.png',
								name: 'Zásilkovna s.r.o.',
								width: '107',
								height: '60',
							},
							{
								img: 'tesco.svg',
								name: 'Tesco Stores ČR a.s.',
								width: '141',
								height: '40',
							},
							{
								img: 'pilulka.svg',
								name: 'Pilulka Lékárny a.s.',
								width: '136',
								height: '30',
							},
							{
								img: 'logo-dek.png',
								name: 'Stavebniny DEK a.s.',
								width: '78',
								height: '40',
							},
							{
								img: 'mixit.svg',
								name: 'Mixit s.r.o.',
								width: '186',
								height: '80',
							},
							{
								img: 'ccc.svg',
								name: 'CCC Czech, s.r.o.',
								width: '119',
								height: '40',
							},
							{
								img: 'gls.svg',
								name: 'GLS',
								width: '149',
								height: '40',
							},
							{
								img: 'pns.svg',
								name: 'První novinová společnost a.s.',
								width: '107',
								height: '44',
							},
							{
								img: 'hptronic.svg',
								name: 'HP TRONIC Zlín, spol. s r.o.',
								width: '54',
								height: '40',
							},
							{
								img: 'wedo.svg',
								name: 'WE|DO CZ s.r.o.',
								width: '245',
								height: '50',
							},
							{
								img: 'polygrafie.svg',
								name: 'Polygrafická výroba s.r.o.',
								width: '185',
								height: '40',
							},
							{
								img: 'techneco.svg',
								name: 'Techneco Praha, s.r.o.',
								width: '136',
								height: '40',
							},
						]
					}
				}%}
				{# Zásilkovna s.r.o.
				Tesco Stores ČR a.s.
				Pilulka Lékárny a.s.
				Stavebniny DEK a.s.
				Mixit s.r.o.
				CCC Czech, s.r.o.
				GLS
				První novinová společnost a.s.
				HP TRONIC Zlín, spol. s r.o.
				WE|DO CZ s.r.o.
				Polygrafická výroba s.r.o.
				Techneco Praha, s.r.o. #}
				{% include '@components/box/bnr.twig' with {
					props: {
						classes: ['u-mb-7'],
						background: 'bnr-bg.jpg',
						title: 'Ty&#8209;brigády jsou to, co potřebuju!',
						btn: 'Chci brigádníky',
						btnLink: './registrace-b2b.html',
						img: 'hand.png',
						width: '352',
						height: '440'
					}
				}%}

				{% include '@components/box/info-list.twig' with {
					props: {
						classes: ['b-info-list--hp u-mb-8'],
						items: [
							{
								title: ' Onboarding je snadný se specializovanou aplikací Ty&#8209;školení!',
								text: 'Potřebujete naučit pracovníky ovládat pokladní systém? Čtečky nebo jiné nástroje? Nebo naučit pohyb po skladu? Ty-školení jsou specializovaný onboardingový nástroj s interaktivními prvky, který naučí uchazeče vše co je potřeba ještě předtím, než dorazí na pracoviště. Málo? Přidejte se k testování a buďte první, kdo bude pro pokladní, pickerské či skladové pozice mít vlastní simulátor v mobilní aplikaci.',
								img: 'app.png',
								flag: 'icon1.svg',
								flagName: 'Certifikát 1',
								width: '187',
								height: '350'
							}
						]
					}
				}%}
			</div>
		</div>

		<div class="u-bg-gradient--68 u-pt-8">
			<div class="row-main">
				{% include '@components/crossroad/products.twig' with {
					props: {
						classes: ['u-mb-6'],
						title: 'Vyber si brigádu s výplatou denně. Teď hned!',
						btn: 'Staň se Tymberem',
						btnLink: './registrace.html',
						items: [
							{
								openingHours: '00:00',
								title: 'Dnešní TOP brigády',
								location: 'Praha',
								fullPayment: '000,00',
								fullCredits: '00,00',
								btnText: 'Chci brigádu',
								btnLink: './registrace.html'
							},
							{
								openingHours: '00:00',
								title: 'Dnešní TOP brigády',
								location: 'Praha',
								fullPayment: '000,00',
								fullCredits: '00,00',
								btnText: 'Chci brigádu',
								btnLink: './registrace.html'
							},
							{
								openingHours: '00:00',
								title: 'Dnešní TOP brigády',
								location: 'Praha',
								fullPayment: '000,00',
								fullCredits: '00,00',
								btnText: 'Chci brigádu',
								btnLink: './registrace.html'
							},
							{
								openingHours: '00:00',
								title: 'Dnešní TOP brigády',
								location: 'Praha',
								fullPayment: '000,00',
								fullCredits: '00,00',
								btnText: 'Chci brigádu',
								btnLink: './registrace.html'
							}
						]
					}
				}%}
			</div>
		</div>
	</main>

{% endblock %}
