{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Тимчасовi працiвники без зайвої паперової роботи легко та онлайн' %}
{% set isHomepage = true %}
{% set isB2B = true %}
{% set metaDescriptionContent = 'Отримай якісних тимчасових працівників, які вже навчилися всьому потрібному на позицію до якої приступлять. Кожен підробіток має свій онлайн-курс для плавного та спокійного початку.' %}
{% block content %}

	<main id="main" class="main">
		{% include '@components/box/intro-hp.twig' with {
			props: {
				classes: ['b-intro-hp--b2b', 'b-intro-hp--carousel'],
				background: 'b2b-intro-bg.jpg',
				contentSizes: ['size--7-12@md'],
				imgSizes: ['size--5-12@md'],
				hasCarousel: true,
				items: [
					{
						title: '“Tymbe надасть нам тимчасових працівників без зайвої адміністративної роботи”',
						text: 'Коли ми найняли наших перших працівників на підробіток через Tymbe 3 роки тому, я була повністю шокована простотою. Завдяки їхній унікальній HR-платформі ми повністю вирішили порядок денний підробітку онлайн – від звернення до тимчасових працівників до підтвердження їх відвідуваності. Одним клацанням миші у мене був діючий огляд того, що відбувається.',
						buttons: [
							{
								name: 'Потребую тимчасових працівників ',
								link: './registrace-b2b.html'
							},
							{
								type: 'secondary',
								name: 'Я є тимчасовим працівником',
								link: './registrace.html'
							},
						],
						img: 'people/denisa.png',
						imgWidth: '370',
						imgHeight: '370',
						tag: {
							logo: 'pilulka.svg',
							logoName: 'Pilulka',
							name: 'Denisa Čechová',
							job: 'HR Business Partner'
						},
					},
					{
						title: '“Tymbe навчить своїх працівників роботи, ще перед тим ніж вони прийдуть”',
						text: 'Tymbe економить мені час і гроші, надаючи мені склад тимчасових працівників, які вже перед тим пройшли електронний вид навчання в BOZP. Саме ці додаткові послуги роблять Tymbe сервісом для 21-го століття.',
						buttons: [
							{
								name: 'Потребую тимчасових працівників ',
								link: './registrace-b2b.html'
							},
							{
								type: 'secondary',
								name: 'Я є тимчасовим працівником ',
								link: './registrace.html'
							},
						],
						img: 'people/tomas.png',
						imgWidth: '370',
						imgHeight: '370',
						tag: {
							logo: 'zasilkovna.svg',
							logoName: 'Zásilkovna ve společnosti Packeta Group',
							name: 'Tomáš Křesťan',
							job: 'Chief Human Resources Officer'
						},
					},
					{
						title: '“Tymbe нам надасть тимчасових працівників до наступного дня”',
						text: 'Мені подобається стійкість, яку нам пропонує співпраця з Tymbe . Коли нам потрібна одноразова допомога, тимчасовий працівник у нас вже на наступний день. Вони здатні забезпечити нас тимчасовими працівниками і для довгострокової роботи. У них достатньо якісних студентів, які мають потенціал бути нашими майбутніми співробітниками.',
						buttons: [
							{
								name: 'Потребую тимчасових працівників',
								link: './registrace-b2b.html'
							},
							{
								type: 'secondary',
								name: 'Я є тимчасовим працівником ',
								link: './registrace.html'
							},
						],
						img: 'people/ctibor.png',
						imgWidth: '370',
						imgHeight: '370',
						tag: {
							logo: 'logo-dek.jpg',
							logoName: 'DEK STAVEBNINY',
							name: 'Ctibor Hurda',
							job: 'Manažer prodejny'
						},
					},
				],
				statistics: {
					items: [
						{
							iconName: 'person',
							number: '12 920',
							value: 'firma_1',
							text: 'Тимчасових працівників онлайн'
						},
						{
							iconName: 'places',
							number: '68',
							value: 'firma_2',
							text: 'Місць, де все працює'
						},
						{
							iconName: 'chart',
							number: '95',
							value: 'firma_3',
							suffix: '%',
							text: 'Підробіток зайняті'
						},
						{
							iconName: 'happy',
							number: '98',
							value: 'firma_4',
							suffix: '%',
							text: 'Менеджерів задоволені'
						},
					]
				}
			}
		} %}
		<div class="row-main">
			<div id="content" class="u-pt-7">
				{% include '@components/crossroad/benefits.twig' with {
					props: {
						classes: ['c-benefits--cards u-mb-7'],
						heading: {
							classes: ['u-mb-5'],
							title: 'Підготовлені тимчасові працівники прийдуть через Ty-brigády',
							annot: 'Дуже добре отримати якісних працівників, але ще краще отримати якісних працівників, які вже пройшли навчання на посаду, яку вони будуть займати. Кожен підробіток у нас має свій адаптаційний онлайн курс, який дозволяє плавний та комфортний приступ до роботи новачку та залучить його до робочого процесу.',
						},
						gridSize: 'size--4-12@md',
						items: [
							{
								img: 'fists.svg',
								title: 'Тисячі перевірених тимчасових працівників',
								desc: 'Онлайн-ідентифікація особистості та договори з тимчасовими працівниками відповідно до європейських правил eIDAS відповідно до Трудового кодексу.',
							},
							{
								img: 'fist-hat.svg',
								title: 'Адаптаційні онлайн курси',
								desc: 'Все, що можна показати заздалегідь, ми можемо передати працівнику до того, як він прибуде на першу зміну. Ми не обтяжуємо робоче місце навчанням новачків.',
							},
							{
								img: 'click.svg',
								title: 'Простий та інтуїтивно-зрозумілий інтерфейс',
								desc: 'Створити заявку на тимчасового працівника і підтвердити відвідуваність завжди можна в декілька кліків, без необхідності заздалегідь навчати менеджерів.',
							},
						]
					}
				}%}
			</div>
		</div>
		<div class="u-bg-secondary u-pt-7">
			<div class="row-main">
				{% include '@components/crossroad/steps.twig' with {
					props: {
						classes: ['c-steps--numbers u-mb-7'],
						heading: {
							classes: ['u-mb-6'],
							title: 'Як розпочати?',
							annot: 'Найкраще спробувати Ty-brigády  по-справжньому. Реєстрація безкоштовна, а ціна завжди встановлюється після відпрацьованих тимчасовим працівником годин. Ніякого ризику!',
						},
						btn: 'Хочу це зробити',
						btnLink: './registrace-b2b.html',
						items: [
							{
								title: 'Заповнення контактного бланку',
								desc: 'В свою чергу ми негайно з вами зв яжемось. Або напишіть нам <a href="mailto:tybrigady@tymbe.cz">tybrigady@tymbe.cz</a>.',
							},
							{
								title: 'Ми створимо профіль Вашої компанії ',
								desc: 'Все налаштуємо так, аби після першого запуску ви могли просто натиснути на те, коли і куди повинні прибути тимчасові працівники.',
							},
							{
								title: 'Все готово',
								desc: 'Користуватися системою максимально просто, можна замовити працівника та підтвердити його відвідуваність декількома кліками.',
							},
						]
					}
				}%}
			</div>
		</div>
		<div class="u-pt-7">
			<div class="row-main">
				{% include '@components/crossroad/customers.twig' with {
					props: {
						classes: ['u-mb-0'],
						heading: {
							classes: ['u-mb-5'],
							title: 'Компанії, які нам довіряють',
							annot: 'Тут вже Ty-brigády допомагають впоратися з важкими щоденними завданнями та різкими сезонними коливаннями.',
						},
						btn: 'Дізнатися більше',
						items: [
							{
								img: 'zasilkovna.png',
								name: 'Zásilkovna s.r.o.',
								width: '107',
								height: '60',
							},
							{
								img: 'tesco.svg',
								name: 'Tesco Stores ČR a.s.',
								width: '141',
								height: '40',
							},
							{
								img: 'pilulka.svg',
								name: 'Pilulka Lékárny a.s.',
								width: '136',
								height: '30',
							},
							{
								img: 'logo-dek.png',
								name: 'Stavebniny DEK a.s.',
								width: '78',
								height: '40',
							},
							{
								img: 'mixit.svg',
								name: 'Mixit s.r.o.',
								width: '186',
								height: '80',
							},
							{
								img: 'ccc.svg',
								name: 'CCC Czech, s.r.o.',
								width: '119',
								height: '40',
							},
							{
								img: 'gls.svg',
								name: 'GLS',
								width: '149',
								height: '40',
							},
							{
								img: 'pns.svg',
								name: 'První novinová společnost a.s.',
								width: '107',
								height: '44',
							},
							{
								img: 'hptronic.svg',
								name: 'HP TRONIC Zlín, spol. s r.o.',
								width: '54',
								height: '40',
							},
							{
								img: 'wedo.svg',
								name: 'WE|DO CZ s.r.o.',
								width: '245',
								height: '50',
							},
							{
								img: 'polygrafie.svg',
								name: 'Polygrafická výroba s.r.o.',
								width: '185',
								height: '40',
							},
							{
								img: 'techneco.svg',
								name: 'Techneco Praha, s.r.o.',
								width: '136',
								height: '40',
							},
						]
					}
				}%}
				{# Zásilkovna s.r.o.
				Tesco Stores ČR a.s.
				Pilulka Lékárny a.s.
				Stavebniny DEK a.s.
				Mixit s.r.o.
				CCC Czech, s.r.o.
				GLS
				První novinová společnost a.s.
				HP TRONIC Zlín, spol. s r.o.
				WE|DO CZ s.r.o.
				Polygrafická výroba s.r.o.
				Techneco Praha, s.r.o. #}
				{% include '@components/box/bnr.twig' with {
					props: {
						classes: ['u-mb-7'],
						background: 'bnr-bg.jpg',
						title: 'Ty-brigády це те, що Вам потрібно!',
						btn: 'Потребую тимчасових працівників',
						btnLink: './registrace-b2b.html',
						img: 'hand.png',
						width: '352',
						height: '440'
					}
				}%}

				{% include '@components/box/info-list.twig' with {
					props: {
						classes: ['b-info-list--hp u-mb-8'],
						items: [
							{
								title: ' За допомогою спеціалізованого додатка Ty ‑ školení  легко адаптуватися!',
								text: 'Вам потрібно навчити працівників вміти користуватись касовою системою? Сканером штрих-кодів  та іншими інструментами? Або навчити пересуватися по складу? Ty-školení це - спеціалізований інструмент для адаптації з інтерактивними елементами, який навчає кандидатів всьому, що їм потрібно, перш ніж вони прийдуть на робоче місце. Замало? Тоді приєднуйтесь до тестування та будьте першим, хто буде мати власний симулятор у мобільному додатку на посади касира, комплектувальника та складового працівника.',
								img: 'app.png',
								flag: 'icon1.svg',
								flagName: 'Certifikát 1',
								width: '187',
								height: '350'
							}
						]
					}
				}%}
			</div>
		</div>

		<div class="u-bg-gradient--68 u-pt-8">
			<div class="row-main">
				{% include '@components/crossroad/products.twig' with {
					props: {
						classes: ['u-mb-6'],
						title: 'Вибери підробіток з щоденною заробітною платою. Прямо зараз!',
						btn: 'Стань Tymberem',
						btnLink: './registrace.html',
						items: [
							{
								openingHours: '00:00',
								title: 'Dnešní TOP brigády',
								location: 'Praha',
								fullPayment: '000,00',
								fullCredits: '00,00',
								btnText: 'Chci brigádu',
								btnLink: './registrace.html'
							},
							{
								openingHours: '00:00',
								title: 'Dnešní TOP brigády',
								location: 'Praha',
								fullPayment: '000,00',
								fullCredits: '00,00',
								btnText: 'Chci brigádu',
								btnLink: './registrace.html'
							},
							{
								openingHours: '00:00',
								title: 'Dnešní TOP brigády',
								location: 'Praha',
								fullPayment: '000,00',
								fullCredits: '00,00',
								btnText: 'Chci brigádu',
								btnLink: './registrace.html'
							},
							{
								openingHours: '00:00',
								title: 'Dnešní TOP brigády',
								location: 'Praha',
								fullPayment: '000,00',
								fullCredits: '00,00',
								btnText: 'Chci brigádu',
								btnLink: './registrace.html'
							}
						]
					}
				}%}
			</div>
		</div>
	</main>

{% endblock %}
