{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Реєстрація компанії' %}
{% set metaDescriptionContent = 'Зареєструй свою компанію в додатку Ty- brigády і отримай якісних тимчасових працівників. Ми навчимо нових працівників всьому заздалегідь за допомогою онлайн курсу!' %}

{% block content %}

	<main id="main" class="main">
		<div class="p-form p-form--b2c u-pt-12">
			<div class="row-main">
				<div class="p-form__content">
					<h1 class="u-vhide">
						Registrace
					</h1>
					<div class="grid grid--x-5">
						<div class="grid__cell size--6-12@md size--5-12@lg">
							{% include '@components/form/registration.twig' with {
								props: {
									classes: ['b-white'],
									controller: 'RegistrationB2B',
									apiUrl: apiBaseUrl+'/company/registration',
									title: 'Реєстрація компанії',
									btn: 'Зареєструватися',
									text: 'У вас вже є обліковий запис? <a href="https://tymbe.com/tymber/login" target="_blank">Увійти.</a>',
									inpGroups: [
										{
											inputs: [
												{
													label: 'Назва компанії',
													name: 'companyName',
													required: true,
													type: 'text'
												},
												{
													label: 'IČO',
													name: 'ic',
													required: true,
													type: 'text'
												},
												{
													label: 'Ім’я',
													name: 'sureName',
													required: true,
													type: 'text'
												},
												{
													label: 'Прізвище',
													name: 'familyName',
													required: true,
													type: 'text'
												},
												{
													label: 'Email',
													name: 'email',
													required: true,
													type: 'email'
												},
												{
													label: 'Номер телефону ',
													name: 'phone',
													required: true,
													type: 'tel',
													tooltipText: 'Інформація Введіть номер телефону в потрібному форматі +420123456789'
												},
											]
										},
									]
								}
							}%}
						</div>
						<div class="grid__cell size--6-12@md size--7-12@lg">
							<div class="grid grid--x-2 grid--bottom">
								<div class="grid__cell size--6-12@lg">
									<div class="u-mt-2 u-mb-6">
										<h3>
											Тисячі перевірених тимчасових працівників
										</h3>
										<p>
											Онлайн-перевірка особистості та укладання договорів тимчасових працівників відповідно до європейських правил eIDAS саме так, як того вимагає Трудовий кодекс.
										</p>
										<h3>
											Адаптаційні онлайн-курси
										</h3>
										<p>
											Все, що можна показати заздалегідь, ми можемо передати працівникові до того, як він прибуде на першу зміну. Ми не обтяжуємо робоче місце навчанням новачків.
										</p>
										<h3>
											Простий та інтуїтивно зрозумілий інтерфейс
										</h3>
										<p>
											Створити заявку на працівника і підтвердити відвідуваність завжди можна в декілька кліків, без необхідності заздалегідь навчати менеджерів.
										</p>
									</div>
								</div>

								<div class="p-form__img grid__cell size--6-12">
									<img src="{{ assets.images }}illust/people/lucie.png" alt="Denisa Čechová" width="350" height="350">
									{% include '@components/core/objects/tag.twig' with {
										props: {
											logo: 'pilulka.svg',
											logoName: 'Pilulka',
											name: 'Denisa Čechová',
											job: 'HR BUSINESS PARTNER'
										}
									} %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock %}
