{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Registrace Tymbera' %}

{% block content %}

	<main id="main" class="main">
		<div class="p-form p-form--b2b u-pt-12">
			<div class="row-main">
				<div class="p-form__content">
					<h1 class="u-vhide">
						Registrace
					</h1>
					<div class="grid grid--x-5">
						<div class="grid__cell size--6-12@md size--5-12@lg">
							{% include '@components/form/registration.twig' with {
								props: {
									classes: ['b-white'],
									controller: 'Registration',
									title: 'Стань Tymberem',
									apiUrl: apiBaseUrl+'/registration',
									nextStep: './registrace-krok-3.html',
									steps: {
										classes: ['u-mt-3 u-mb-3'],
										items: [
											{
												done: true,
												text: 'První krok'
											},
											{
												isActive: true,
												text: 'Druhý krok'
											},
											{
												text: 'Třetí krok'
											},
										]
									},
									btnBack: 'Назад',
									btnNext: 'Далі',
									text: 'У вас вже є обліковий запис? <a href="https://tymbe.com/tymber/login" target="_blank">Увійти.</a>',
									inpGroupsName: 'contact',
									inpGroups: [
										{
											inpTitle: 'Адреса постійного місця проживання',
											selectLabel: 'Держава – постійне місце проживання',
											selectName: 'permanentAddress.country',
											selectRequired: true,
											options: [
												{
													value: '',
													disabled: true,
													title: 'Держава – постійне місце проживання'
												},
												{
													value: 'cz',
													title: 'Česká republika'
												},
												{
													value: 'sk',
													title: 'Slovenská republika'
												},
											],
											inputs: [
												{
													label: 'Вулиця',
													name: 'permanentAddress.street',
													required: true,
													type: 'text'
												},
												{
													label: 'Місто',
													name: 'permanentAddress.city',
													required: true,
													type: 'text'
												},
												{
													label: 'Поштовий індекс',
													name: 'permanentAddress.zip',
													required: true,
													type: 'text'
												}
											],
										},
										{
											inpTitle: 'Контактна адреса',
											selectLabel: 'Держава - Контактна адреса',
											selectName: 'contactAddress.country',
											options: [
												{
													value: '',
													title: 'Держава - Контактна адреса'
												},
												{
													value: 'cz',
													title: 'Česká republika'
												}
											],
											inputs: [
												{
													label: 'Вулиця',
													name: 'contactAddress.street',
													type: 'text'
												},
												{
													label: 'Місто',
													name: 'contactAddress.city',
													type: 'text'
												},
												{
													label: 'Поштовий індекс ',
													name: 'contactAddress.zip',
													type: 'text'
												}
											],
										},
										{
											inpTitle: 'Номер телефону',
											inputs: [
												{
													label: 'Номер телефону',
													name: 'phone',
													type: 'tel',
													required: true,
													tooltipText: 'Інформація Введіть номер телефону в потрібному форматі +420123456789'
												}
											],
										},
									],
								}
							}%}
						</div>
						<div class="grid__cell size--6-12@md size--7-12@lg">
							<div class="grid grid--x-2 grid--bottom">
								<div class="grid__cell size--6-12@lg">
									<div class="u-mt-2">
										<h3>
											Виплата щодня. Досить натиснути!
										</h3>
										<p>
											TTy-brigády працюють онлайн, отже вони набагато швидші у всьому, навіть у виплатах. 
										</p>
										<h3>
											Заробіток без зайвої адміністративної роботи. Краса!
										</h3>
										<p>
											Тобі не потрібно нікуди бігти і підписувати щось сто разів. Досить лише завантажити  все на свій обліковий запис у додатку Ty-brigády.
										</p>
										<h3>
											Винагорода за твою думку про підробіток.
										</h3>
										<p>
											Зміна була крутою? Тоді скажи нам, і отримай додаткову винагороду – бонуси.
										</p>
										<h3>
											Ty-brigády зацікавленні в правах тимчасових працівників.
										</h3>
										<p>
											Ми гарантуємо, що ніхто не буде порушувати твої права. Наприклад, у тебе є чітке право на перерви на роботі.
										</p>
									</div>
								</div>

								<div class="p-form__img grid__cell size--6-12">
									<img src="{{ assets.images }}illust/hand-dot.png" alt="" width="385" height="635">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock %}
