{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Děkujeme za registraci' %}

{% block content %}

	<main id="main" class="main">
		<div class="p-form p-form--b2b u-pt-12">
			<div class="row-main">
				<div class="p-form__content">
					<h1 class="u-vhide">
						Registrace
					</h1>
					<div class="grid grid--x-5">
						<div class="grid__cell size--6-12@md size--5-12@lg">
							<div class="b-white b-std u-text-center">
							<h2>Дякуємо за реєстрацію.</h2>
							<p>Ми наближаємось до фіналу, у нас вже є дані, необхідні для твого працевлаштування.</p>
							<p>
							Тепер, будь ласка, заглянь у свою електронну пошту, там на тебе чекає посилання, для перевірки заповнених даних, залишилось всього лише кілька контрольних позначок і додати номер рахунку, куди б ти хотів отримувати виплати. Кілька хвилин, і ми закінчили.</p>
							<p>
							Дякуємо, що ти вирішив знайти справедливо оплачуваний підробіток.</p>
							<p>
							Команда Tymbe</p>
							<p>
								<a href="./" class="btn"><span class="btn__text"> Назад </span></a>
							</p>
							</div>
						</div>
						<div class="grid__cell size--6-12@md size--7-12@lg">
							<div class="grid grid--x-2 grid--bottom">
								<div class="grid__cell size--6-12@lg">
									<div class="u-mt-2">
										<h3>
											Виплата щодня. Досить натиснути!
										</h3>
										<p>
											Ty-brigády працюють онлайн, отже вони набагато швидші у всьому, навіть у виплатах.
										</p>
										<h3>
											Заробіток без зайвої адміністративної роботи. Краса!
										</h3>
										<p>
											Тобі не потрібно нікуди бігти і підписувати щось сто разів. Досить лише завантажити  все на свій обліковий запис у додатку Ty-brigády.
										</p>
										<h3>
											Винагорода за твою думку про підробіток.
										</h3>
										<p>
											Зміна була крутою? Тоді скажи нам, і отримай додаткову винагороду – бонуси.
										</p>
										<h3>
											Ty-brigády зацікавленні в правах тимчасових працівників.
										</h3>
										<p>
											Ми гарантуємо, що ніхто не буде порушувати твої права. Наприклад, у тебе є чітке право на перерви на роботі.
										</p>
									</div>
								</div>

								<div class="p-form__img grid__cell size--6-12">
									<img src="{{ assets.images }}illust/hand-dot.png" alt="" width="385" height="635">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock %}
