{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Děkujeme za registraci' %}

{% block content %}

	<main id="main" class="main">
		<div class="p-form p-form--b2b u-pt-12">
			<div class="row-main">
				<div class="p-form__content">
					<h1 class="u-vhide">
						Registrace
					</h1>
					<div class="grid grid--x-5">
						<div class="grid__cell size--6-12@md size--5-12@lg">
							<div class="b-white b-std u-text-center">
							<h2>Děkujeme za registraci.</h2>
							<p>Blížíme se do finále, údaje potřebné k zaměstnání už máme pohoromadě.</p>
							<p>
							Teď prosím koukni do emailu, měl by Tě tam čekat link k ověření vyplněných údajů, je to už jen pár kontrolních políček a doplnění čísla účtu, kam bys rád dostával výplaty. Pár minut a máme hotovo.</p>
							<p>
							Díky, že ses rozhodl najít si férově placenou brigádu.</p>
							<p>
							Tým Tymbe</p>
							<p>
								<a href="./" class="btn"><span class="btn__text"> Zpět </span></a>
							</p>
							</div>
						</div>
						<div class="grid__cell size--6-12@md size--7-12@lg">
							<div class="grid grid--x-2 grid--bottom">
								<div class="grid__cell size--6-12@lg">
									<div class="u-mt-2">
										<h3>
											Výplata každý den. Stačí kliknout!
										</h3>
										<p>
											Ty–brigády jedou online, takže jsou mnohem rychlejší ve všem. I ve výplatách.
										</p>
										<h3>
											Brigáda bez papírování. Pecka!
										</h3>
										<p>
											Nemusíš nikde běhat a něco stokrát podepisovat. Všechno nahraješ na svůj účet v apce Ty–brigády.
										</p>
										<h3>
											Odměna za tvůj názor na brigádu.
										</h3>
										<p>
											Byla směna v pohodě? Dej nám vědět a získáš extra odměnu.
										</p>
										<h3>
											Ty–brigády zajímají práva brigádníků.
										</h3>
										<p>
											Ohlídáme, že ti tvoje práva nikdo neupře. Třeba na pauzy v práci máš jasný nárok.
										</p>
									</div>
								</div>

								<div class="p-form__img grid__cell size--6-12">
									<img src="{{ assets.images }}illust/hand-dot.png" alt="" width="385" height="635">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock %}
