{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Souhlas se zpracováním osobních údajů' %}
{% set isFAQ = true %}

{% block content %}

	<main id="main" class="main">
		{% include '@components/box/intro.twig' with {
			props: {
				background: 'intro-bg.jpg',
				title: 'Згода на обробку персональних даних',
				downLink: 'content',
			}
		} %}
		<div class="row-main">
			<div id="content" class="u-pt-10 u-mb-9">
				<p>
					відповідно до Регламенту (ЄС) 2016/679 Європейського Парламенту та Ради від 27 квітня 2016 року про захист фізичних осіб у зв'язку з обробкою персональних даних та про вільний рух таких даних, а також про скасування Директиви 95/46/ЄС (Загальний регламент про захист даних)
				</p>

				<h2>Контролер персональних даних</h2>

				<p>
					TYMBE a.s., зі своїм зареєстрованим офісом за адресою Podolská 2731/33, Líšeň, 628 00 Brno, IČO: 058 92 538 контактна адреса електронної пошти tymbe@tymbe.com (далі Адміністратор)
				</p>

				<h2>Суб'єкт даних</h2>

				<p>
					Ви особисто, тобто ті, хто зацікавлений у підробітку (або Tymber) здійснюючі вхід у веб-додаток на сторінці www.tymbe.com.
				</p>

				<p>
					Поставивши галочку «Я згоден з обробкою персональних даних» на веб-сайті www.tymbe.com та надіславши реєстраційний бланк, Ви надаєте Адміністратору згоду на обробку ваших персональних даних відповідно до введених нижче умов.
				</p>

				<h2>В якій мірі ваші персональні дані будуть оброблятися контролером?</h2>

				<p>
					Адміністратор обробляє Ваші персональні дані в обсязі, в якому Ви їх надалb, зокрема в обсязі: ім'я, прізвище, дата народження, ідентифікаційний код, e-mail, номер телефону, номер банківського рахунку, адресу проживання, адресу постійного проживання, номер та термін дії посвідчення особи, групу водійських прав, дані, зазначені в наданій медичній (харчовій) картці, даних, зазначених у наданому Витягу з Кримінального реєстру.
				</p>

				<h2>З якою метою ваші персональні дані будуть оброблятися адміністратором?</h2>

				<p>
					З вашої згоди адміністратор оброблятиме ваші персональні дані з метою:
				</p>

				<ul>
					<li>укладення угод, укладених поза трудовими відносинами між вами та роботодавцем / роботодавцем підробітку, тобто ми надамо ваші персональні дані Роботодавцю в обсязі, необхідному для укладання Договору, який укладається поза трудовими відносинами, і для підтвердження необхідної юридичної, медичної та іншої кваліфікації для роботи;;</li>
					<li>записи про вашу присутність згідно з документами, наданими роботодавцем.</li>
					<li>онлайн-ведення порядку денного трудового законодавства, включаючи виплату винагорд за відпрацьований підробіткок, на підставі Договору, укладеного поза трудовими відносинами з Роботодавцем.</li>
					<li>ля маркетингових цілей (ділові комунікації, включаючи пропозиції роботи з веб-сайту www.tymbe.com, інформаційні бюлетені, дослідження ринку, опитування задоволеності послугами, маркетинговий аналіз).</li>
				</ul>

				<h2>Яка правова основа для обробки?</h2>

				<p>
					Правовою основою для обробки ваших персональних даних, зазначених у пункті III, для цілей, визначених у пункті IV, є ваша згода.
				</p>

				<p>
					Однак це не впливає на право/обов'язок контролера обробляти ваші персональні дані, зазначені в пункті III, на підставі іншої правової підстави, зокрема, якщо це стосується обробки, необхідної для дотримання юридичного зобов'язання, що застосовується до контролера (ведення податкової та бухгалтерської звітності, забезпечення здоров'я та соціального забезпечення у випадках, передбачених чинним законодавством, записи про робочий час тощо).
				</p>

				<h2>Як довго контролер буде обробляти ваші персональні дані?</h2>

				<p>
					Адміністратор оброблятиме ваші персональні дані для цілей, визначених у пункті IV. на підставі вашої згоди, у вигляді 5 років, якщо ця згода на обробку вами персональних даних не буде відкликана.
				</p>

				<h2>Як і коли ви можете відкликати цю згоду на обробку персональних даних?</h2>

				<p>
					Ви можете відкликати свою добровільно надану згоду на обробку персональних даних у будь-який час безкоштовно, надіславши електронного листа за адресою: tymbe@tymbe.com. Відкликання згоди не впливає на законність обробки на основі згоди, наданої до її відкликання. Відкликання згоди також не впливає на обробку персональних даних, які адміністратор обробляє на підставі правової основи, відмінної від згоди (тобто, зокрема, якщо обробка необхідна для виконання договору, юридичного зобов'язання або з інших причин, зазначених у чинному законодавстві).
				</p>

				<h2>Хто матиме доступ до ваших персональних даних?</h2>

				<p>
					Ваші персональні дані будуть доступні контролеру і, якщо це можливо, також третім особам - обробникам, які надають відповідні гарантії і обробка яких відповідає вимогам чинного законодавства і яка забезпечує належний захист ваших прав. Однак процесори матимуть доступ до цих даних лише протягом часу, строго необхідного та в тій мірі, в якій це суворо необхідно, наприклад, а) наших договірних партнерів, які нам потрібні для нашого нормального функціонування та здійснення договірних відносин з вами, які, зокрема, є постачальниками інформаційних технологій, постачальниками поштових послуг; б) роботодавець, з яким ви оформляєте Договір, укладений поза трудовими відносинами.	
				</p>

				<h2>Як зв'язатися з адміністратором?</h2>
				
				<p>
					Ви можете зв'язатися з Адміністратором по електронній пошті: tymbe@tymbe.com або в письмовій формі за адресою зареєстрованого офісу Контролера, тобто, наприклад, Podolská 2731/33, Líšeň, 628 00 Brno. Адміністратор має право вимагати підтвердження вашої особистості, щоб запобігти доступу сторонніх осіб до ваших персональних даних. З метою підвищення якості послуг і ведення обліку виконання юридичних зобов'язань адміністратора контролюється вся комунікація між вами і адміністратором.
				</p>

				<h2>Які ваші права щодо захисту персональних даних?</h2>

				<p>
					Що стосується ваших персональних даних, ви маєте, зокрема, наступні права:
				</p>

				<ul>
					<li>право відкликати вашу згоду в будь-який час;</li>
					<li>право на виправлення або доповнення персональних даних;</li>
					<li>право вимагати обмеження обробки;</li>
					<li>право заперечувати або скаржитися на обробку в певних випадках;</li>
					<li>право вимагати перенесення даних;</li>
					<li>право доступу до персональних даних;</li>
					<li>право бути поінформованим про порушення персональних даних у певних випадках;</li>
					<li>право на стирання персональних даних (право бути «забутим») в певних випадках;</li>
					<li>право подати скаргу до Управління із захисту персональних даних;</li>
					<li>прав, викладених у Загальному регламенті про захист даних Nо. 2016/679.</li>
				</ul>

				<h2>Ви зобов'язані надати свої персональні дані? Що робити, якщо ви не наддасте персональні дані?</h2>

				<p>
					Ви надаєте свої персональні дані на абсолютно добровільній основі. Ви не зобов'язані їх надавати. Якщо ви не надасте свої персональні дані, вам не загрожуватиме штраф. Однак, якщо ви не надасте персональні дані контролеру, контролер не зможе надати вам свої послуги належним чином.
				</p>

				<h2>Як обробляються та захищаються ваші персональні дані?</h2>

				<p>
					Ми обробляємо ваші персональні дані вручну та автоматизовано в інформаційних системах. Всі персональні дані, які ви надаєте контролеру, захищені стандартними процедурами та технологіями. Адміністратор гарантує, що він регулярно перевіряє систему на наявність вразливостей і не піддавався впливу атак і використовує такі заходи безпеки, які можуть бути обґрунтовано вимагатися від Адміністратора, щоб запобігти несанкціонованому доступу до наданих персональних даних і які, враховуючи поточний стан технологій, забезпечують достатню безпеку. Вжиті заходи безпеки регулярно оновлюються. УВАГА: Однак ви несете відповідальність за збереження вашого унікального пароля та іншої інформації облікового запису в таємниці, а також за збереження контролю над доступом до вашого облікового запису.
				</p>

				<h2>Згода на обробку персональних даних</h2>

				<p>
					Ми наближаємося до фіналу, поставивши галочку "Я згоден на обробку персональних даних", ви підтверджуєте, що прочитали і зрозуміли вищезазначену інформацію, навіть якщо вона була довгою, і що ви погоджуєтеся з тим, що контролер, згаданий у пункті I вище, буде обробляти ваші особисті дані, перераховані в пункті III вище, для цілей (цілей), викладених у пункті IV вище цієї згоди.
				</p>

				<p>
					Ви усвідомлюєте, що ця згода на обробку даних є добровільною, і ви маєте право відкликати її в будь-який час. Відкликання згоди повинно бути зроблено в письмовій формі (в паперовій або електронній формі) за адресою, вказаною вище в пунктах VII і IX.
				</p>

				<p>
					Отже, ми закінчили, і тепер вийдемо на ринг, де на вас чекають найбільші хіти. Нехай ви процвітаєте, Tymberе, і ласкаво просимо до нас!
				</p>
				
			</div>
		</div>
	</main>

{% endblock %}
