{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Souhlas se zpracováním osobních údajů' %}
{% set isFAQ = true %}

{% block content %}

	<main id="main" class="main">
		{% include '@components/box/intro.twig' with {
			props: {
				background: 'intro-bg.svg',
				title: 'Souhlas se zpracováním osobních údajů',
				downLink: 'content',
			}
		} %}
		<div class="row-main">
			<div id="content" class="u-pt-10 u-mb-9">
				<p>
					podle nařízení Evropského parlamentu a Rady (EU) 2016/679 ze dne 27. dubna 2016 o ochraně fyzických osob v souvislosti se zpracováním osobních údajů a o volném pohybu těchto údajů a o zrušení směrnice 95/46/ES (obecné nařízení o ochraně osobních údajů)
				</p>

				<h2>Správce osobních údajů</h2>

				<p>
					TYMBE a.s., se sídlem Podolská 2731/33, Líšeň, 628 00 Brno, IČO: 058 92 538 kontaktní elektronická adresa tymbe@tymbe.com (Dále jen správce)
				</p>

				<h2>Subjekt údajů</h2>

				<p>
					jsi Ty osobně, tedy zájemce o brigádu (nebo též Tymber) přihlašující se do webové aplikace na stránce www.tymbe.com.
				</p>

				<p>
					Zaškrtnutím políčka „Souhlasím se zpracováním osobních údajů“ na stránkách www.tymbe.com a odesláním registračního formuláře uděluješ Správci souhlas se zpracováním svých osobních údajů dle níže uvedených podmínek.
				</p>

				<h2>V jakém rozsahu budou Tvé osobní údaje zpracovávány správcem?</h2>

				<p>
					Správce Tvé osobní údaje zpracovává v rozsahu, v jakém jsi je Správci poskytl/a, tj. zejména v rozsahu: jméno, příjmení, datum narození, rodné číslo, e-mail, telefonní číslo, číslo bankovního účtu, adresa bydliště, adresa trvalého pobytu, číslo a platnost občanského průkazu, skupina řidičského oprávnění, údaje uvedené v poskytnutém zdravotním (potravinářském) průkazu, údaje uvedené v poskytnutém Výpisu rejstříku trestů.
				</p>

				<h2>K jakému účelu budou Tvé osobní údaje zpracovávány správcem?</h2>

				<p>
					S Tvým souhlasem bude správce Vaše osobní údaje zpracovávat za účelem:
				</p>

				<ul>
					<li>uzavírání Dohod konaných mimo pracovní poměr mezi Tebou a Zaměstnavatelem/Zadavatelem brigád, tedy Tvé osobní údaje poskytneme Zaměstnavateli v rozsahu nezbytném pro uzavření Dohody konané mimo pracovní poměr a k prokázaní zákonné, zdravotní a jiné způsobilosti nutné k výkonu práce.;</li>
					<li>evidence Tvé docházky dle podkladů dodaných Zaměstnavatelem.</li>
					<li>online vedení pracovně-právní agendy včetně vyplácení odměn z brigád odpracovaných na základě Dohody konané mimo pracovní poměr se Zaměstnavatelem.</li>
					<li>za účelem marketingu (obchodní sdělení, včetně nabídky pracovních pozic z webových stránek www.tymbe.com, newslettery, průzkum trhu, průzkum spokojenosti poskytovaných služeb, marketingová analýza).</li>
				</ul>

				<h2>Jaký je právní základ zpracování?</h2>

				<p>
					Právním základem pro zpracování Tvých osobních údajů uvedených v bodu III. pro účely vymezené v bodu IV. je Tvůj souhlas.
				</p>

				<p>
					Tímto však není dotčeno právo/povinnost správce zpracovávat Tvé osobní údaje uvedené v bodu III. na základě jiného právního důvodu, zejména jde-li o zpracování nezbytné pro splnění právní povinnosti vztahující se na správce (vedení daňové a účetní evidence, zajištění zdravotního a sociálního zabezpečení v případech daných platnou právní úpravou, evidence pracovní doby atp.).
				</p>

				<h2>Po jak dlouhou dobu bude správce Tvé osobní údaje zpracovávat?</h2>

				<p>
					Správce bude Tvé osobní údaje zpracovávat pro účely vymezené v bodu IV. na základě Tvého souhlasu, a to podobu 5 let, nebude-li tento souhlas se zpracováním osobních údajů ze Tvé strany odvolán.
				</p>

				<h2>Jak a kdy můžeš tento souhlas se zpracováním osobních údajů odvolat?</h2>

				<p>
					Tento Tvůj dobrovolně udělený souhlas se zpracováním osobních údajů můžeš kdykoli bezplatně odvolat, a to prostřednictvím emailové zprávy zaslané na adresu: tymbe@tymbe.com. Odvoláním souhlasu není dotčena zákonnost zpracování vycházejícího ze souhlasu, který byl dán před jeho odvoláním. Odvolání souhlasu též nemá vliv na zpracování osobních údajů, které správce zpracovává na základě jiného právního základu, než je souhlas (tj. zejména je-li zpracování nezbytné pro splnění smlouvy, právní povinnosti či z jiných důvodů uvedených v platných právních předpisech).
				</p>

				<h2>Kdo všechno bude mít přístup k Tvým osobním údajům?</h2>

				<p>
					K Tvým osobním údajům bude mít přístup správce a případně též třetí osoby - zpracovatelé, kteří poskytují vhodné záruky a jejichž zpracování splňuje požadavky dle platných právních předpisů a které zajišťuje náležitou ochranu Tvých práv. Zpracovatelé však budou mít přístup k těmto údajům jen po dobu nezbytně nutnou a v nezbytně nutném rozsahu, jedná se například a) o naše smluvní partnery, které potřebujeme pro naše běžné fungování a realizaci smluvního vztahu s Tebou, kterými jsou zejména dodavatelé informačních technologií, poskytovatelé poštovních služeb; b) o zaměstnavatele, se kterými sepisuješ Dohodu konanou mimo pracovní poměr.
				</p>

				<h2>Jakým způsobem můžeš kontaktovat správce?</h2>

				<p>
					Správce můžeš kontaktovat na emailu: tymbe@tymbe.com nebo písemně na adrese sídla správce, tj. Podolská 2731/33, Líšeň, 628 00 Brno. Správce je oprávněn požadovat prokázání Tvé totožnosti za účelem zamezení přístupu neoprávněných osob k Tvým osobním údajům. Za účelem zvyšování kvality služeb a uchovávání záznamů o plnění právních povinností správce je veškerá komunikace mezi Tebou a správcem monitorována.
				</p>

				<h2>Jaká máš v souvislosti s ochranou osobních údajů práva?</h2>

				<p>
					Ve vztahu k svým osobním údajům máš zejména následující práva:
				</p>

				<ul>
					<li>právo svůj souhlas kdykoli odvolat;</li>
					<li>právo osobní údaje opravit či doplnit;</li>
					<li>právo požadovat omezení zpracování;</li>
					<li>právo vznést námitku či stížnost proti zpracování v určitých případech;</li>
					<li>právo požadovat přenesení údajů;</li>
					<li>právo na přístup k osobním údajům;</li>
					<li>právo být informován o porušení zabezpečení osobních údajů v určitých případech;</li>
					<li>právo na výmaz osobních údajů (právo být „zapomenut") v určitých případech;</li>
					<li>právo podat stížnost u Úřadu pro ochranu osobních údajů;</li>
					<li>práva stanovená v obecném nařízení o ochraně osobních údajů č. 2016/679.</li>
				</ul>

				<h2>Jsi povinen poskytnout své osobní údaje? Co když osobní údaje neposkytneš?</h2>

				<p>
					Své osobní údaje poskytuješ zcela dobrovolně. Nemáš žádnou povinnost je poskytnout. V případě, že své osobní údaje neposkytneš, nehrozí Ti žádná sankce. Nicméně pokud osobní údaje správci neposkytneš, nebude Ti správce schopen řádně poskytnout své služby.
				</p>

				<h2>Jak jsou Tvé osobní údaje zpracovávány a zabezpečeny?</h2>

				<p>
					Tvoje osobní údaje zpracováváme manuálně i automatizovaným způsobem v informačních systémech. Veškeré osobní údaje, které správci poskytneš, jsou zabezpečeny standardními postupy a technologiemi. Správce zaručuje, že pravidelně kontroluje, zda systém neobsahuje slabá místa a nebyl vystaven útoku a používá taková bezpečností opatření, která je možné po správci rozumně vyžadovat, aby nedošlo k neoprávněnému přístupu k poskytnutým osobním údajům, a která s ohledem na aktuální stav technologií poskytují dostatečné zabezpečení. Přijatá bezpečnostní opatření jsou pak pravidelně aktualizována. POZOR: Ty sám ale neseš odpovědnost za uchování svého jedinečného hesla a dalších údajů o svém účtu v tajnosti a za stálou kontrolu nad přístupem ke svému účtu.
				</p>

				<h2>Souhlas se zpracováním osobních údajů</h2>

				<p>
					Blížíme se do finále, zaškrtnutím políčka „Souhlasím se zpracováním osobních údajů“ potvrzuješ, že sis výše uvedené informace přečetl/a i když byly dlouhé, a že jsi jim porozuměl/a, a že souhlasíš s tím, aby správce uvedený výše v bodu I. zpracovával Tvé osobní údaje uvedené výše v bodu III. za účelem/účely uvedeným/i výše v bodu IV. tohoto souhlasu.
				</p>

				<p>
					Jsi si vědom/a toho, že tento souhlas se zpracováním údajů je dobrovolný a jsi oprávněn/a jej kdykoliv odvolat. Odvolání souhlasu musí být učiněno písemně (v listinné nebo elektronické formě) na adrese uvedené výše v bodech VII. a IX.
				</p>

				<p>
					Tak to máme za sebou a teď hurá do ringu, kde na Tebe čekají ty největší pecky. Ať se Ti daří, Tymbere a vítej mezi námi!
				</p>

			</div>
		</div>
	</main>

{% endblock %}
