{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Zásady užití' %}
{% set isFAQ = true %}

{% block content %}

	<main id="main" class="main">
		{% include '@components/box/intro.twig' with {
			props: {
				background: 'intro-bg.svg',
				title: 'Zásady užití',
				downLink: 'content',
			}
		} %}
		<div class="row-main">
			<div id="content" class="u-pt-10 u-mb-9">
				<h2>ZÁSADY COOKIES</h2>
				<p>
					Zásady cookies popisují, jak pomocí souborů cookies společnost TYMBE a.s., se sídlem Podolská 2731/33, Líšeň, 628 00 Brno, IČO: 058 92 538 získává a zpracovává informace o návštěvnících webových stránek
					<a href="https://www.tymbe.cz">www.tymbe.cz</a>
					(„webové stránky“).
				</p>

				<h2>CO JSOU COOKIES?</h2>

				<p>
					Pojmem cookies se myslí soubory cookies a další podobné technologie (například pixelové značky, webové signály nebo identifikátory zařízení), které mohou automaticky shromažďovat osobní údaje při návštěvě webových stránek.
				</p>

				<p>
					Cookies jsou obsahově malé soubory ve Vašem internetovém prohlížeči nebo mobilní aplikaci, které slouží k ukládání a přijímání identifikátorů a dalších informací o počítačích, telefonech a jiných zařízeních, z nichž přistupujete na webové stránky, a pomáhají nám tak poskytovat, chránit a zlepšovat nabízené služby.
				</p>

				<h2>ÚČEL COOKIES</h2>

				<p>
					Používání cookies nám umožní nabídnout Vám ty služby a produkty, které nejlépe odpovídají Vašim potřebám a zájmům. Cookies umožňují zaznamenat informace o Vaší návštěvě našich webových stránek a mobilní aplikace a díky jejich používání tak bude Vaše další návštěva snazší a rychlejší.
				</p>

				<h3>Soubory cookies zejména:</h3>

				<ul>
					<li>slouží k efektivní navigaci na webové stránce anebo aplikaci, k personalizaci, ukládání předvoleb a obecně k vylepšení uživatelského prostředí webové stránky;</li>
					<li>umožňují rozlišit, zda konkrétní uživatel již v minulosti navštívil webové stránky, nebo zda je novým návštěvníkem.</li>
				</ul>

				<h2>DRUHY COOKIES</h2>

				<h3>
					Cookies lze dělit na základě několika kritérií.<br>
					Podle toho, kdo cookies vytváří a zpracovává lze rozdělit cookies na dvě kategorie:
				</h3>

				<ul>
					<li>Cookie první strany (first party cookie) vytváří přímo webové stránky nebo skripty na stejné doméně. Nejčastěji slouží k zajištění základní funkčnosti webové stránky.</li>
					<li>Cookie třetích stran (third party cookie) jsou vytvářeny ostatními weby. Tyto weby na navštívené webové stránce vlastní nějaký obsah, např. reklamy, obrázky nebo videa.</li>
				</ul>

				<h3>Cookies lze také rozdělit podle jejich trvanlivosti na:</h3>

				<ul>
					<li>Relační cookies (session cookies) jsou dočasné. Ukládají se do Vašeho zařízení jen do doby, než ukončíte práci s internetovým prohlížečem a po jeho zavření se vymažou. Tyto cookies jsou pro řádnou funkčnost webových stránek či přidružených aplikací nezbytné.</li>
					<li>Permanentní cookies (persistent cookies) můžeme využívat pro Vaši snadnější a pohodlnější orientaci na našich webových stránkách (například jednodušší a rychlejší navigace). Tyto cookies zůstávají ve Vašem prohlížeči po delší období nebo dokud je ručně neodstraníte. Permanentní cookies umožňují přesun informací na internetový server při každé návštěvě webových stránek.</li>
				</ul>

				<h3>
					Podle účelu použití lze cookies dělit na:
				</h3>

				<ul>
					<li>Nezbytné cookies, které jsou zapotřebí k provozu webové stránky. Zahrnují například cookies, které Vám umožňují přihlásit se do zabezpečených částí naší webové stránky. Tyto cookies neshromažďují informace o uživatelích, které by se daly použít k marketingovým účelům nebo k zapamatování toho, jaké stránky uživatelé na internetu navštěvovali.</li>
					<li>Analytické cookies používáme ke zlepšení fungování webových stránek. Tyto cookies shromažďují informace o tom, jak návštěvníci tyto webové stránky používají, např. na které stránky návštěvníci chodí nejčastěji a zda z webových stránek dostávají chybová hlášení. Také nám dovolují zaznamenávat a počítat počet návštěvníků webových stránek, což nám umožňuje sledovat, jakým způsobem návštěvníci tyto webové stránky používají. Tyto cookies neshromažďují informace, které by umožnily osobní identifikaci uživatele. Informace shromážděné pomocí těchto cookies jsou souhrnné a anonymní.</li>
					<li>Preferenční cookies usnadňují ovládání a vylepšují funkce webových stránek. Používají se k aktivaci konkrétních funkcí webových stránek (např. přehrávání videí) a jejich nastavení podle Vašich voleb (např. jazyk), s cílem vylepšit Vaši zkušenost s webovými stránkami. Zároveň preferenční cookies slouží na zapamatování si Vašich preferencí při další návštěvě webových stránek. Neshromažďují ale informace, které by vás dokázaly identifikovat.</li>
					<li>Reklamní (profilovací) cookies se používají ke sledování preferencí, které odhalíte prostřednictvím používání webových stránek, a za účelem zasílání reklamních zpráv či zobrazování reklam i na webech třetích stran v souladu s těmito preferencemi.</li>
				</ul>

				<h2>POUŽÍVANÉ COOKIES</h2>

				<p>
					Webové stránky tymbe.cz využívají tyto cookies:
				</p>

				<div class="b-scroll">
					<table>
						<thead>
							<tr>
								<th>Technický název</th>
								<th>Vydavatel</th>
								<th>Účel o popis cookies</th>
								<th>Doba trvání</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td colspan="4">
									<strong>Nezbytné cookies</strong>
									(5)</td>
							</tr>
							<tr>
								<td>c</td>
								<td>Leady.com</td>
								<td>Slouží k detekci spamu a zvyšuje bezpečnost webové stránky.</td>
								<td>16 let</td>
							</tr>
							<tr>
								<td>rc::a</td>
								<td>Google.com</td>
								<td>Slouží k rozlišování, zda návštěvníkem je stránky je člověk nebo robot.</td>
								<td>trvalá</td>
							</tr>
							<tr>
								<td>rc::a</td>
								<td>Google.com</td>
								<td>Slouží k rozlišování, zda návštěvníkem je stránky je člověk nebo robot.</td>
								<td>relační</td>
							</tr>
							<tr>
								<td>sid</td>
								<td>Seznam.cz</td>
								<td>Udržuje informace o uživatelových volbách napříč stránkou.</td>
								<td>29 dní</td>
							</tr>
							<tr>
								<td>test_cookie</td>
								<td>Doubleclick.net</td>
								<td>Zjišťuje, zda uživatelův prohlížeč podporuje cookies.</td>
								<td>1 den</td>
							</tr>
							<tr>
								<td colspan="4">
									<strong>Preferenční cookies</strong>
									(1)</td>
							</tr>
							<tr>
								<td>mcwidget</td>
								<td>Tymbe.cz</td>
								<td>Identifikuje uživatelem naposledy navštívenou stránku a pomáhá zvyšovat relevanci chatboxu.</td>
								<td>trvalá</td>
							</tr>
							<tr>
								<td colspan="4">
									<strong>Analytické cookies</strong>
									(4)</td>
							</tr>
							<tr>
								<td>_ga</td>
								<td>Google Analytics</td>
								<td>Slouží k rozlišování uživatelů webových stránek přidělením náhodně generovaného čísla.</td>
								<td>2 roky</td>
							</tr>
							<tr>
								<td>_ga_#</td>
								<td>Google Analytics</td>
								<td>Slouží ke sběru údajů o počtu návštěv stránky uživatelem a údaje o první a poslední návštěvě.</td>
								<td>2 roky</td>
							</tr>
							<tr>
								<td>_gat</td>
								<td>Google Analytics</td>
								<td>Slouží k vyhodnocení požadavků na webové stránce.</td>
								<td>1 den</td>
							</tr>
							<tr>
								<td>_gid</td>
								<td>Google Analytics</td>
								<td>Slouží k identifikaci návštěvníka.</td>
								<td>1 den</td>
							</tr>
							<tr>
								<td colspan="4">
									<strong>Reklamní cookies</strong>
									(14)</td>
							</tr>
							<tr>
								<td>_fb_chat_plugin</td>
								<td>Facebook.com</td>
								<td>Slouží ke sledování interakce uživatele s chatovacím nástrojem.</td>
								<td>trvalá</td>
							</tr>
							<tr>
								<td>_fbp</td>
								<td>Facebook.com</td>
								<td>Společnost facebook používá tyto soubory cookies k práci s reklamou.</td>
								<td>3 měsíce</td>
							</tr>
							<tr>
								<td>_gcl_au</td>
								<td>Google.com</td>
								<td>Slouží službě Google AdSense ke zkouškám efektivity reklam napříč stránkami používajícími tyto služby.</td>
								<td>3 měsíce</td>
							</tr>
							<tr>
								<td>ads/ga-audiences</td>
								<td>Google.com</td>
								<td>Slouží službě Goggle AdWords k opětovnému zapojení návštěvníků, kteří se pravděpodobně změní na zákazníky, vzhledem jejich chování online na webových stránkách.</td>
								<td>relační</td>
							</tr>
							<tr>
								<td>common/cavalry_endpoint.php</td>
								<td>Facebook.com</td>
								<td>Získává údaje o návštěvníkově chování na více stránkách za účelem nabízení relevantnějších reklam a možnosti omezit počet zobrazení stejné reklamy.</td>
								<td>relační</td>
							</tr>
							<tr>
								<td>IDE</td>
								<td>Doubleclick.net</td>
								<td>Tyto reklamní soubory cookies jsou uloženy ve službě Google DoubleClick a slouží k personalizaci reklam zobrazovaných uživatelům na základě předchozích návštěv na našich webových stránkách.</td>
								<td>1 rok</td>
							</tr>
							<tr>
								<td>leady_session_id</td>
								<td>Leady.com</td>
								<td>Sleduje individuální relaci na stránkách za účelem sestavení statistiky z více návštěv, která mohou být využita k oslovování potenciálních zákazníků.</td>
								<td>relační</td>
							</tr>
							<tr>
								<td>leady_tab_id</td>
								<td>Leady.com</td>
								<td>Slouží ke sledování chování na stránkách, zejména sleduje uživatelovo chování napříč různými stránkami a zajišťuje, že nedochází k chybám ve sledování v případě, že uživatel má otevřených více záložek prohlížeče.</td>
								<td>trvalá</td>
							</tr>
							<tr>
								<td>mc_pixel_session_data</td>
								<td>Tymbe.cz</td>
								<td>Je použita v souvislosti s funkcí chat bota. Obsahuje data o uživatelově chování, která umožňují propagovat zboží nebo služby v rámci funkce chat bota nebo jiné pop-up zprávy.</td>
								<td>trvalá</td>
							</tr>
							<tr>
								<td>messaging_plugin</td>
								<td>Facebook.com</td>
								<td>Neklasifikován</td>
								<td>trvalá</td>
							</tr>
							<tr>
								<td>pagead/1p-user-list/#</td>
								<td>Google.com</td>
								<td>Slouží ke sledování uživatelova pohybu mezi stránkami a jeho zákaznických preferencí. Tato data jsou následně použita k měření reklamních aktivit a zprostředkovávají fungování reklamního systému.</td>
								<td>relační</td>
							</tr>
							<tr>
								<td>retargeting</td>
								<td>Seznam.cz</td>
								<td>Slouží ke sledování uživatelova pohybu mezi stránkami, jeho chování a interakce s reklamními kampaněmi. Tato data jsou následně využita k optimalizaci reklam a efektivnímu retargetingu.</td>
								<td>relační</td>
							</tr>
							<tr>
								<td>tr</td>
								<td>Facebook.com</td>
								<td>Slouží facebooku k poskytování reklamních produktů zadavatelům reklam</td>
								<td>relační</td>
							</tr>
						</tbody>
					</table>
				</div>


				<p>
					Další informace o našich cookies a jejich aktuální seznam naleznete i prostřednictvím jednotlivých internetových prohlížečů, nejčastěji v položce Nástroje pro vývojáře.
				</p>

				<h2>ODMÍTNUTÍ COOKIES</h2>

				<p>Soubory cookies můžete nastavit prostřednictvím naší cookies lišty. Změnu nastavení můžete kdykoliv změnit prostřednictvím odkazu trvale umístěného na webových stránkách.</p>
				<p>Soubory cookies můžete také zcela odmítnout v nastavení svého internetového prohlížeče, nebo si nastavit užívání jen některých. Pokud však použijete nastavení prohlížeče tak, že vypnete všechny cookies (včetně nezbytných cookies), nemusí se vám podařit získat přístup na webové stránky nebo do některých jejích částí (např. uživatelské konto).</p>
				<p>Nastavení soukromí ve Vašem počítači, kde lze použití cookies odmítnout či zakázat, najdete v menu příslušného internetového prohlížeče. Můžete rovněž změnit nastavení svého prohlížeče tak, aby Vás upozornil pokaždé, když je vám nabízen nějaký soubor cookie. Nastavení souborů cookies v nejčastěji používaných prohlížečích najdete na následujících internetových stránkách:</p>

				<ul>
					<li>Chrome -
						<a href="https://support.google.com/accounts/answer/61416?hl=cs" target="_blank" rel="noopener noreferrer">https://support.google.com/accounts/answer/61416?hl=cs</a>
					</li>
					<li>Firefox -
						<a href="https://support.mozilla.org/cs/kb/vymazani-cookies" target="_blank" rel="noopener noreferrer">https://support.mozilla.org/cs/kb/vymazani-cookies</a>
					</li>
					<li>Internet Explorer -
						<a href="https://support.microsoft.com/cs-cz/products/security" target="_blank" rel="noopener noreferrer">https://support.microsoft.com/cs-cz/products/security</a>
					</li>
					<li>Safari OSX -
						<a href="https://support.apple.com/cs-cz/guide/safari/sfri11471/mac" target="_blank" rel="noopener noreferrer">https://support.apple.com/cs-cz/guide/safari/sfri11471/mac</a>
					</li>
					<li>Opera -
						<a href="https://www.opera.com/help/tutorials/security/privacy/" target="_blank" rel="noopener noreferrer">https://www.opera.com/help/tutorials/security/privacy/</a>
					</li>
					<li>Safari iOS -
						<a href="https://support.apple.com/cs-cz/HT201265" target="_blank" rel="noopener noreferrer">https://support.apple.com/cs-cz/HT201265</a>
					</li>
				</ul>

				<p>K dispozici je také mnoho aplikací třetích stran, které umožňují blokovat nebo spravovat cookies. Můžete také vymazat cookies, které byly dříve uloženy do Vašeho zařízení, vymazáním historie prohlížení. Ujistěte se, že v případě, že tak učiníte, je zaškrtnuta možnost vymazat cookies.</p>

				<h2>ODKAZY</h2>

				<p>Další užitečné informace o souborech cookies můžete nalézt na následujících internetových stránkách:</p>

				<ul>
					<li>
						<a href="https://www.aboutcookies.org" target="_blank" rel="noopener noreferrer">www.aboutcookies.org</a>
					</li>
					<li>
						<a href="https://www.allaboutcookies.org" target="_blank" rel="noopener noreferrer">www.allaboutcookies.org</a>
					</li>
					<li>
						<a href="https://www.youronlinechoices.eu" target="_blank" rel="noopener noreferrer">www.youronlinechoices.eu</a>
					</li>
				</ul>

				<h2>KONTAKTNÍ ÚDAJE</h2>

				<p>Budete-li mít dotazy týkající se cookies kontaktujte nás na adrese TYMBE a.s., se sídlem Podolská 2731/33, Líšeň, 628 00 Brno nebo emailu
					<a href="mailto:tymbe@tymbe.com">tymbe@tymbe.com</a>.</p>

				<p>Další informace v souvislosti se zpracováním osobních údajů poskytuje pověřenec pro ochranu osobních údajů na
					<a href="mailto:tymbe@tymbe.com">tymbe@tymbe.com</a>.</p>
				<p>Společnost TYMBE je oprávněna Zásady cookies kdykoliv jednostranně měnit nebo doplňovat.</p>

				<p>Tyto Zásady Cookies použití cookies jsou platné a účinné od 01.01.2022.</p>
			</div>
		</div>
	</main>

{% endblock %}
