{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Kontakt' %}

{% block content %}

	<main id="main" class="main">
		{% include '@components/box/intro.twig' with {
			props: {
				classes: ['b-intro--cut'],
				background: 'intro-bg.jpg',
				title: 'Kontakt',
				text: 'Máš otázky? Máme odpovědi! Ozvi se a doplníme všechno, co tě zajímá.',
			}
		} %}
		<div class="row-main">
			<div class="u-mt--11 u-mb-9">
				<div class="b-white b-contact">
					<div class="grid grid--x-0">
						<div class="grid__cell size--6-12@md">
							<form class="b-contact__form" action="?">
								<h2 class="b-contact__title h3">
									Spoj se s námi
								</h2>
								<p class="inp" data-controller="FocusInput">
									<label for="name" class="inp-label">
										Jméno
									</label>
									<span class="inp-fix">
										<input type="text" name="name" id="name" placeholder="Jméno" class="inp-text" data-action="focus->FocusInput#focus blur->FocusInput#blur">
									</span>
								</p>
								<p class="inp" data-controller="FocusInput">
									<label for="email" class="inp-label">
										E-mail
									</label>
									<span class="inp-fix">
										<input type="email" name="email" id="email" placeholder="E-mail" class="inp-text" data-action="focus->FocusInput#focus blur->FocusInput#blur">
									</span>
								</p>
								<p class="inp" data-controller="FocusInput">
									<label for="message" class="inp-label">
										Zpráva
									</label>
									<span class="inp-fix">
										<textarea name="message" id="message" placeholder="Zpráva" class="inp-text" cols="40" rows="6" data-action="focus->FocusInput#focus blur->FocusInput#blur"></textarea>
									</span>
								</p>

								<p class="u-mt-2">
									<button type="submit" class="btn">
										<span class="btn__text">
											Odeslat
										</span>
									</button>
								</p>
							</form>
						</div>
						<div class="grid__cell size--6-12@md">
							<div class="b-contact__table">
								<h2 class="b-contact__title h3">
									TYMBE, a.s.
								</h2>
								<table>
									<tbody>
										<tr>
											<th>
												<span class="item-icon">
													{% include '@components/core/icon-svg/icon-svg.twig' with {
														props: {
															classes: ['item-icon__icon'],
															name: 'message'
														}
													} %}
													E-mail
												</span>
											</th>
											<td>
												<a href="mailto:tymbe@tymbe.com">tymbe@tymbe.com</a>
											</td>
										</tr>
										<tr>
											<th>
												<span class="item-icon">
													{% include '@components/core/icon-svg/icon-svg.twig' with {
														props: {
															classes: ['item-icon__icon'],
															name: 'location'
														}
													} %}
													Address
												</span>
											</th>
											<td>
												Podolská 2731/33, Líšeň<br>
												628 00 Brno
											</td>
										</tr>
										<tr>
											<th>
												<span class="item-icon">
													{% include '@components/core/icon-svg/icon-svg.twig' with {
														props: {
															classes: ['item-icon__icon'],
															name: 'company'
														}
													} %}
													IČO:
												</span>
											</th>
											<td>
												O5892538
											</td>
										</tr>
										<tr>
											<th>
												<span class="item-icon">
													{% include '@components/core/icon-svg/icon-svg.twig' with {
														props: {
															classes: ['item-icon__icon'],
															name: 'company'
														}
													} %}
													DIČ:
												</span>
											</th>
											<td>
												CZO5892538
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock %}
