{% extends '@layout/layout.twig' %}
{% set pageTitle = 'FAQ' %}

{% block content %}

	<main id="main" class="main">
		{% include '@components/box/intro.twig' with {
			props: {
				classes: ['b-intro--cut'],
				background: 'intro-bg.jpg',
				title: 'FAQ',
				text: 'Máš otázky? Máme odpovědi! Ozvi se a doplníme všechno, co tě zajímá.',
			}
		} %}
		<div class="row-main">
			<div class="u-mt--11 u-mb-9">
				<div class="b-white b-tabs" data-controller="Tabs">
					<ul class="b-tabs__list">
						<li class="b-tabs__item">
							<a href="#first" class="b-tabs__link is-selected" data-key="first" data-Tabs-target="link" data-action="Tabs#changeTab">
								<span class="item-icon">
									{% include '@components/core/icon-svg/icon-svg.twig' with {
										props: {
											classes: ['item-icon__icon'],
											name: 'building'
										}
									} %}
									Pro firmy
								</span>
							</a>
						</li>
						<li class="b-tabs__item">
							<a href="#second" class="b-tabs__link" data-key="second" data-Tabs-target="link" data-action="Tabs#changeTab">
								<span class="item-icon">
									{% include '@components/core/icon-svg/icon-svg.twig' with {
										props: {
											classes: ['item-icon__icon'],
											name: 'work'
										}
									} %}
									Pro brigádníky
								</span>
							</a>
						</li>
					</ul>
					<div id="first" class="b-tabs__fragment is-active" data-Tabs-target="content">
						<h2 class="u-js-hide">
							Pro firmy
						</h2>
						{% include '@components/core/objects/accordion.twig' with {
							props: {
								classes: ['u-mb-20 u-mb-30@md'],
								items: [
									{
										title: 'Co je Tymbe?',
										content: 'Tymbe a.s. je rychle rostoucí tým nadšených Evropanů s chutí měnit zarezlé procesy v oblasti, které se ošklivě říká „lidské zdroje“, a přitom jde o většinu života většiny nás. Tymbe je tu od toho, aby se všechno kolem práce zjednodušilo, zrychlilo a zlevnilo na úrovni firem i jednotlivců.'
									},
									{
										title: 'Jaké výhody má Tymbe pro firmy?',
										content: 'Všechno, co Tymbe dělá, je postavené pro online management. Nechceme ti práci přidělávat, ale ušetřit. Naše služby fungují po celém Česku i v zahraničí a chytré nástroje Tymbe vyřeší spoustu otravné administrativy místo tebe. A co ti šetří čas, to ti šetří i peníze.'
									},
									{
										title: 'Proč najímat lidi přes Ty–brigády?',
										content: 'Ty–brigády jsou jediná online platforma na trhu, která tě zbaví starostí a doručí ti kvalitní brigádníky třeba už zítra. Je to chytrá služba, která znamená definitivní konec papírování, šetří častvých lidí, nasbírá ti hromadu užitečných dat a brigádníkům vyplácí hodinovku, která je pro tebe vždy výhodná.Ty–brigády navíc jedou 24 hodin denně, 7 dní v týdnu a po celé ČR.'
									},
									{
										title: 'Umí Tymbe postavit službu na míru?',
										content: 'Na to se u nás specializujeme. Tvoje lidi dokážeme online proškolit, v čem si vzpomeneš, a zařídíme pro ně i pracovní pomůcky, když na to přijde. Pojď to s námi probrat a určitě to vymyslíme. Volej +420 602 200 114 nebo piš na firma@tymbe.com a my se do 24 hodin ozveme.'
									},
									{
										title: 'Všechno online je super, ale co když chci jednat s lidmi?',
										content: 'Nejsme žádní IT roboti. I my se rádi potkáváme a řešíme zakázky a kontrakty osobně. Máme tým zkušené zákaznické podpory, který s tebou nastaví všechno přesně podle potřeb vaší firmy. Tymbe je tu pro lidi, ne pro automaty :)'
									}
								]
							}
						} %}
					</div>
					<div id="second" class="b-tabs__fragment" data-Tabs-target="content">
						<h2 class="u-js-hide">
							Pro brigádníky
						</h2>
						{% include '@components/core/objects/accordion.twig' with {
							props: {
								classes: ['u-mb-20 u-mb-30@md'],
								items: [
									{
										title: 'Co je Tymbe?',
										content: 'Tymbe je značka, za kterou stojí parta chytrých lidí, kteří se rozhodli dělat chytré služby online. Třeba jako Ty–brigády, online zkratku k brigádě. Prostě věci, které dávají smysl a lidem pomůžou'
									},
									{
										title: 'A co jsou Ty–brigády?',
										content: 'Ty–brigády je první online platforma na trhu brigád, která ti sežene super zaplacenou férovou brigádu třeba už zítra a kdekoliv po Česku u prověřených renomovaných společností. Přihlásit se můžeš přes apku v mobilu. Mrkni na App Store nebo na Google Play, anebo klasicky na tybrigady.tymbe.cz. Na Tymbe najdeš nabídky brigád přímo od vybraných zaměstnavatelů, sám si řekneš, za kolik jsi ochotný pracovat a jak často chceš vyplácet odměnu. A co je nejvíc, Tymbe je pro tebe úplně zdarma.'
									},
									{
										title: 'Kdo je Tymber?',
										content: 'Když máš brigádu přes Ty–brigády, tak jsi Tymber :) Prostě jsme si to tak poladili, abychom si rozuměli. Každý Tymber má svůj profil na tybrigady.tymbe.cz. Na svém profilu najdeš úplně všechno, co budeš potřebovat vědět.'
									},
									{
										title: 'Kde a jak se mám registrovat?',
										content: 'Když máš brigádu přes Ty–brigády, tak jsi Tymber :) Prostě jsme si to tak poladili, abychom si rozuměli. Každý Tymber má svůj profil na tybrigady.tymbe.cz. Na svém profilu najdeš úplně všechno, co budeš potřebovat vědět.'
									},
									{
										title: 'Kde podepíšu potřebné papíry?',
										content: 'Jo papíry? Tak ty jsme zrušili! No fakt, všechny „papíry“ prostě podepíšeš v apce, prstem na obrazovce. Nemusíš se nikam vláčet, teda kromě brigády, na kterou se přihlásíš.'
									},
									{
										title: 'Som zo Slovenska a nemám trvalý pobyt v Česku, čo mám vyplniť do kontaktnej adresy?',
										content: 'Pro Tymbery jsme pořád jedna země :) Vyplnit můžeš jakoukoliv adresu, kam ti dorazí pošta, když ti nějakou náhodou pošleme. Může to být adresa kolejí nebo spolubydlení, nemusíš být ani uvedený jako nájemník.'
									},
									{
										title: 'Jak mě Ty–brigády zaplatí?',
										content: 'Když si vybíráš brigádu v apce, vždycky vidíš, jaká je hodinovka. Je to prostě fér. Odměna na Ty–brigády za se skládá z pevné částky + kreditu. Kredit roste podle toho, kolik času zbývá do začátkusměny a kolik je volných míst. Jestli máš nervy počkat si, až cena vyroste nejvýš, dobře ty. Ale taky ti někdo může brigádu vyfouknout. Někdy je to adrenalin :)'
									},
									{
										title: 'Kdy dostanu peníze na účet?',
										content: 'Troufáme si říct, že peníze ti pošleme, jakmile si odmakáš domluvenou brigádu. Stačí, aby ti vedoucí směny potvrdil “docházku” a odvedenou práci, a hned se ti na profilu objeví možnost si nechat peníze poslat na účet. Peníze si můžeš nechat proplatit ihned nebo můžeš počkat a nastřádat si větší sumu, záleží na tobě. Výplaty každopádně posíláme několikrát denně, takže peníze od nás dostaneš doslova “cobydup” ;)'
									},
									{
										title: 'Co když nemůžu dorazit na směnu?',
										content: 'Ze směny se můžeš vždycky odhlásit, ale když to bude míň než 24 hodin před začátkem směny, budeme potřebovat omluvenku s vysvětlením. Tu nám pošli na trener@tymbe.cz.Ty–brigády fungují skvěle díky tomu, že se na sebe můžeme navzájem spolehnout.'
									},
									{
										title: 'Pomóc! Něco mi nefunguje, co mám dělat?',
										content: 'Od toho tu jsme. Poradíme, vyřešíme. Piš na e-mail trener@tymbe.cz nebo na FB Messenger @tymbecz. Jsme tu pro tebe od pondělí do neděle a od 8.00 do 18.00, takže vlastně furt ;)'
									}
								]
							}
						} %}
					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock %}
