{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Rozcestník HTML šablon' %}

{% block content %}

	<main id="main" class="main">
		<div class="u-pt-10 u-mb-9">
			<div class="row-main">
				<h1>
					Rozcestník HTML šablon
				</h1>
				<ul>
					<li>
						<a href="./00-style-guide.html">
							00 - Style Guide
						</a>
					</li>
					<li>
						<span class="u-text-uppercase">
							Homepage
						</span>
						<ul>
							<li>
								<a href="./01-homepage-b2c.html">
									01 - Homepage - B2C
								</a>
							</li>
							<li>
								<a href="./01-homepage-b2b.html">
									01 - Homepage - B2B
								</a>
							</li>
						</ul>
					</li>
					<li>
						<span class="u-text-uppercase">
							Formulář
						</span>
						<ul>
							<li>
								<a href="./02-form-b2c.html">
									02 - Formulář - B2C
								</a>
							</li>
							<li>
								<a href="./02-form-b2b.html">
									02 - Formulář - B2B
								</a>
							</li>
						</ul>
					</li>
					<li>
						<span class="u-text-uppercase">
							Prozatimní formulář
						</span>
						<ul>
							<li>
								<a href="./02-form-provisional-step-1.html">
									02 - Prozatimní formulář - 1. krok
								</a>
							</li>
							<li>
								<a href="./02-form-provisional-step-2.html">
									02 - Prozatimní formulář - 2. krok
								</a>
							</li>
							<li>
								<a href="./02-form-provisional-step-3.html">
									02 - Prozatimní formulář - 3. krok
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="./03-about.html">
							03 - O společnosti
						</a>
					</li>
					<li>
						<a href="./04-training.html">
							04 - Ty&#8209;školení
						</a>
					</li>
					<li>
						<a href="./05-contact.html">
							05 - Kontakt
						</a>
					</li>
					<li>
						<a href="./06-faq.html">
							06 - FAQ
						</a>
					</li>
				</ul>
			</div>
		</div>
	</main>

{% endblock %}
