<div class="b-cookie" data-cookie>
	<div class="b-cookie__bg"></div>
	<div class="b-cookie__box">
		<div class="b-cookie__box-inner">
			<h2 class="u-text-center">Cookies</h2>

			<p class="u-text-center">
				Používáme soubory cookies, abychom Vám umožnili pohodlné prohlížení webu a přizpůsobení reklamy a díky analýze provozu webu neustále zlepšovali funkce webu.
			</p>
			<p class="u-text-center">
				Kliknutím na možnost „Souhlasím a pokračovat“ souhlasíte s používáním všech souborů cookie. Klikněte na tlačítko „Detailně nastavit“, pokud chcete akceptovat anebo odmítnout určité cookies. Další informace naleznete v <a href="./zasady-uziti.html">Zásadách užití</a> cookies.
			</p>
			<div class="b-cookie__settings" data-step="2">
				<h3 class="u-text-center">Nastavení</h3>
				<p class="u-text-center">
					Zde máte možnost přizpůsobit soubory cookie podle kategorií, v souladu s vlastními preferencemi.
				</p>
				<div class="b-cookie__option">
					<div class="b-cookie__option-head" data-cookie-toggle>
						<span class="h4 u-mb-0">
							Nezbytné cookies
						</span>
						<label class="switch">
							<input type="checkbox" checked disabled class="switch__inp">
							<span class="switch__inner">
								<span class="switch__text switch__text--left"></span>
								<span class="switch__text switch__text--right"></span>
								<span class="switch__tool"></span>
							</span>
						</label>
					</div>
					<div class="b-cookie__option-body">
						<p>Tyto cookies jsou zapotřebí k provozu webové stránky a k zajištění jejího řádného zobrazení a běhu na Vašem zařízení nebo třeba k přihlášení do zabezpečené části stránek. Bez těchto cookies není možné webovou stránku spustit a zobrazit.</p>
					</div>
				</div>

				<div class="b-cookie__option">
					<div class="b-cookie__option-head" data-cookie-toggle>
						<span class="h4 u-mb-0">
							Analytické cookies
						</span>
						<label class="switch">
							<input type="checkbox" data-cookie-option="analytics_storage" class="switch__inp">
							<span class="switch__inner">
								<span class="switch__text switch__text--left"></span>
								<span class="switch__text switch__text--right"></span>
								<span class="switch__tool"></span>
							</span>
						</label>
					</div>
					<div class="b-cookie__option-body">
						<p>Tyto cookies na pomáhají porozumět, jak návštěvníci interagují s webovou stránkou, a tím pádem nám umožňují fungování našich stránek neustále zlepšovat.</p>
					</div>
				</div>

				<div class="b-cookie__option">
					<div class="b-cookie__option-head" data-cookie-toggle>
						<span class="h4 u-mb-0">
							Preferenční cookies
						</span>
						<label class="switch">
							<input type="checkbox" data-cookie-option="personalization_storage" class="switch__inp">
							<span class="switch__inner">
								<span class="switch__text switch__text--left"></span>
								<span class="switch__text switch__text--right"></span>
								<span class="switch__tool"></span>
							</span>
						</label>
					</div>
					<div class="b-cookie__option-body">
						<p>Tyto cookies umožňují stránce zapamatovat si Vaše osobní nastavení a předvolby toho, jak se stránka chová nebo jak vypadá nebo například Vaše trvalé přihlášení na stránce.</p>
					</div>
				</div>

				<div class="b-cookie__option">
					<div class="b-cookie__option-head" data-cookie-toggle>
						<span class="h4 u-mb-0">
							Reklamní cookies
						</span>
						<label class="switch">
							<input type="checkbox" data-cookie-option="ad_storage" class="switch__inp">
							<span class="switch__inner">
								<span class="switch__text switch__text--left"></span>
								<span class="switch__text switch__text--right"></span>
								<span class="switch__tool"></span>
							</span>
						</label>
					</div>
					<div class="b-cookie__option-body">
						<p>Díky těmto cookies může být sledován Váš pohyb na těchto stránkách i mimo ně, a to za účelem zacílení a zobrazení reklamy, jež pro Vás bude co nejrelevantnější.</p>
					</div>
				</div>


			</div>
			<div class="b-cookie__btns" data-step="1">
				<p>
					<button class="as-link" type="button" data-cookie-settings>Detailně nastavit</button>
				</p>
				<p>
					<button class="btn btn--secondary" type="button" data-cookie-reject><span class="btn__text">Odmítnout</span></button>
					<button class="btn" type="button" data-cookie-accept><span class="btn__text">Souhlasím a pokračovat</span></button>
				</p>
			</div>
			<div class="b-cookie__btns" data-step="2">
				<p>
					<button class="btn btn--secondary" type="button" data-cookie-save><span class="btn__text">Přijmout pouze vybrané</span></button>
				</p>
				<p>
					<button class="btn btn--secondary" type="button" data-cookie-accept><span class="btn__text">Přijmout vše</span></button>
				</p>
			</div>
		</div>
	</div>
</div>
