<div class="b-cookie" data-cookie>
	<div class="b-cookie__bg"></div>
	<div class="b-cookie__box">
		<div class="b-cookie__box-inner">
			<h2 class="u-text-center">Cookies</h2>

			<p class="u-text-center">
				Abyste na našich stránkách našli vždy to, co potřebujete, využíváme soubory cookies, které zpracováváme podle zásad ochrany osobních údajů. Pro personalizovaný zážitek ze stránek udělte prosím souhlas se zpracováním všech typů cookies. Svůj souhlas můžete spravovat zde.
			</p>
			<div class="b-cookie__settings" data-step="2">
				<h3 class="u-text-center">Nastavení</h3>
				<p class="u-text-center">
					Zde máte možnost přizpůsobit soubory cookie podle kategorií, v souladu s vlastními preferencemi.
				</p>
				<div class="b-cookie__option">
					<div class="b-cookie__option-head" data-cookie-toggle>
						<span class="h4 u-mb-0">
							Technické cookies
						</span>
						<label class="switch">
							<input type="checkbox" checked disabled class="switch__inp">
							<span class="switch__inner">
								<span class="switch__text switch__text--left"></span>
								<span class="switch__text switch__text--right"></span>
								<span class="switch__tool"></span>
							</span>
						</label>
					</div>
					<div class="b-cookie__option-body">
						<p>Zde máte možnost přizpůsobit soubory cookie podle kategorií, v souladu s vlastními preferencemi. Zde máte možnost přizpůsobit soubory cookie podle kategorií, v souladu s vlastními preferencemi.</p>
					</div>
				</div>

				<div class="b-cookie__option">
					<div class="b-cookie__option-head" data-cookie-toggle>
						<span class="h4 u-mb-0">
							Analytické cookies
						</span>
						<label class="switch">
							<input type="checkbox" data-cookie-option="analytics_storage" class="switch__inp">
							<span class="switch__inner">
								<span class="switch__text switch__text--left"></span>
								<span class="switch__text switch__text--right"></span>
								<span class="switch__tool"></span>
							</span>
						</label>
					</div>
					<div class="b-cookie__option-body">
						<p>Zde máte možnost přizpůsobit soubory cookie podle kategorií, v souladu s vlastními preferencemi. Zde máte možnost přizpůsobit soubory cookie podle kategorií, v souladu s vlastními preferencemi.</p>
					</div>
				</div>

				<div class="b-cookie__option">
					<div class="b-cookie__option-head" data-cookie-toggle>
						<span class="h4 u-mb-0">
							Personalizované cookies
						</span>
						<label class="switch">
							<input type="checkbox" data-cookie-option="personalization_storage" class="switch__inp">
							<span class="switch__inner">
								<span class="switch__text switch__text--left"></span>
								<span class="switch__text switch__text--right"></span>
								<span class="switch__tool"></span>
							</span>
						</label>
					</div>
					<div class="b-cookie__option-body">
						<p>Zde máte možnost přizpůsobit soubory cookie podle kategorií, v souladu s vlastními preferencemi. Zde máte možnost přizpůsobit soubory cookie podle kategorií, v souladu s vlastními preferencemi.</p>
					</div>
				</div>

				<div class="b-cookie__option">
					<div class="b-cookie__option-head" data-cookie-toggle>
						<span class="h4 u-mb-0">
							Reklamní cookies
						</span>
						<label class="switch">
							<input type="checkbox" data-cookie-option="ad_storage" class="switch__inp">
							<span class="switch__inner">
								<span class="switch__text switch__text--left"></span>
								<span class="switch__text switch__text--right"></span>
								<span class="switch__tool"></span>
							</span>
						</label>
					</div>
					<div class="b-cookie__option-body">
						<p>Zde máte možnost přizpůsobit soubory cookie podle kategorií, v souladu s vlastními preferencemi. Zde máte možnost přizpůsobit soubory cookie podle kategorií, v souladu s vlastními preferencemi.</p>
					</div>
				</div>


			</div>
			<div class="b-cookie__btns" data-step="1">
				<p>
					<button class="as-link" type="button" data-cookie-settings>Detailně nastavit</button>
				</p>
				<p>
					<button class="btn btn--secondary" type="button" data-cookie-reject><span class="btn__text">Odmítnout</span></button>
					<button class="btn" type="button" data-cookie-accept><span class="btn__text">Souhlasím a pokračovat</span></button>
				</p>
			</div>
			<div class="b-cookie__btns" data-step="2">
				<p>
					<button class="btn btn--secondary" type="button" data-cookie-save><span class="btn__text">Přijmout pouze vybrané</span></button>
				</p>
				<p>
					<button class="btn" type="button" data-cookie-accept><span class="btn__text">Přijmout vše</span></button>
				</p>
			</div>
		</div>
	</div>
</div>
