.c-reviews {
	margin-bottom: 80px;
	padding: $size4 0 $size3;
	background-image: url($imgPath+'bg/reviews-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	&__title {
		margin-bottom: $size5;
	}
	&__wrapper {
		position: relative;
		z-index: 1;
		max-width: 652px;
		margin: 0 auto;
		&::before,
		&::after {
			content: '';
			position: absolute;
			border-radius: 100%;
			background-color: $colorSecondary;
		}
		&::before {
			top: -40px;
			left: -41px;
			width: 80px;
			height: 80px;
		}
		&::after {
			right: -61px;
			bottom: -113px;
			width: 150px;
			height: 150px;
		}
	}
	&__list {
		position: relative;
		z-index: 2;
	}

	// STATES
	.no-js &__list {
		overflow-x: scroll;
	}

	// MQ
	@media ($mdDown) {
		.embla__btn {
			display: none;
		}
	}
	@media ($mdUp) {
		margin-bottom: $size7;
		padding: $size6 0 $size3;
		&__wrapper {
			padding: 0 $size5;
			&::before {
				top: -62px;
				left: -21px;
				width: 125px;
				height: 125px;
			}
			&::after {
				right: -28px;
				bottom: -92px;
			}
		}
	}
}
